@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url("../fonts/HelveticaNeue-Regular.ttf") format("truetype");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'HelveticaUltraLight';
    src: url("../fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'HelveticaLight';
    src: url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'HelveticaThin';
    src: url("../fonts/HelveticaNeue-Thin.ttf") format("truetype");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'HelveticaMedium';
    src: url("../fonts/HelveticaNeue-Medium_.ttf") format("truetype");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url("../fonts/HelveticaNeueCondensedBold.ttf") format("truetype");
    /* Safari, Android, iOS */
}

/**Add pulse eeffects on all link clicks*/
a {
    position: relative;
    transition: all 0.3s ease;
}

.ink {
    display: inline-block;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    transform: scale(0);
    z-index: 200000;
}

.animate {
    animation: ripple 0.45s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

#preloader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 100000;
}

body.frontpage {
    background: url(../images/banners/banner-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a.navbar-brand img.logo {
    height: 30px;
}

nav.main-menu {
    background: white;
    box-shadow: 0px 1px 2px 0px #00000017;
}

    nav.main-menu #Navbar ul {
        padding: 0;
        list-style: none;
        display: table;
        text-align: left;
    }

        nav.main-menu #Navbar ul li {
            position: relative;
            display: table-cell;
        }

            nav.main-menu #Navbar ul li a {
                color: #818182 !important;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                display: inline-block;
                position: relative;
                margin-right: 50px;
                padding: 0;
            }

header.jumbotron {
    padding: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    border-radius: 0;
    margin-top: 60px;
}

    header.jumbotron img.banner {
        width: 100%;
        max-height: 40vh;
    }

.searchOverlay {
    position: fixed;
    background: #000;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .15s, visibility .15s, width .15s, height .15s;
    -moz-transition: opacity .15s, visibility .15s, width .15s, height .15s;
    -ms-transition: opacity .15s, visibility .15s, width .15s, height .15s;
    -o-transition: opacity .15s, visibility .15s, width .15s, height .15s;
    transition: opacity .15s, visibility .15s, width .15s, height .15s;
    overflow: hidden;
    z-index: 30;
}

    .searchOverlay .logo-inverse {
        position: absolute;
        top: 15px;
        left: 30px;
    }

    .searchOverlay.open {
        opacity: .98;
        visibility: visible;
        height: 100%;
        width: 100%;
        z-index: 10000;
    }

    .searchOverlay button.close {
        position: relative;
        top: 15px;
        right: 15px;
        float: right;
        font-size: 25px;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid white;
        height: 40px;
        width: 40px;
    }

        .searchOverlay button.close span {
            position: absolute;
            left: 26%;
            top: 43%;
        }

    .searchOverlay .close {
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

        .searchOverlay .close:hover {
            color: #ddd;
            text-decoration: none;
        }

    .searchOverlay .search-form .form-control {
        border: none;
        background: none;
        padding: 0;
        color: white;
        box-shadow: inset 0 -1px 0 0 #333;
        font-size: 2rem;
    }

        .searchOverlay .search-form .form-control:focus {
            box-shadow: inset 0 -1px 0 0 #333;
        }

    .searchOverlay .search-form .btn {
        border: none;
    }

        .searchOverlay .search-form .btn:hover {
            color: darkslategrey;
            background-color: transparent;
        }

    .searchOverlay .search-form input {
        border-radius: 0;
    }

@media (min-width: 992px) {
    .searchOverlay .search-form input {
        width: 800px;
    }
}

.search-icon {
    visibility: hidden;
}

footer.footer {
    margin-top: 0;
}

    footer.footer #footerMenu ul li {
        color: #262626;
        font-size: 10px;
        text-transform: uppercase;
        font-family: HelveticaMedium, Fallback, sans-serif;
    }

    footer.footer #footerMenu .navbar-nav {
        flex-direction: row;
    }

    footer.footer #footerMenu ul li a.nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        font-size: 10px;
    }

    footer.footer #footerMenu ul li {
        display: inline-block;
    }

.card-img-top {
    border-radius: 0;
}

ul.list-asterix li {
    margin-left: -15px;
    list-style: none;
    font-size: 10px;
    font-style: italic;
}

    ul.list-asterix li:nth-child(1):before {
        content: "*";
        padding-right: 20px;
        margin-left: -30px;
    }

    ul.list-asterix li:nth-child(2):before {
        content: "**";
        padding-right: 15px;
        margin-left: -30px;
    }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: black;
}

.nav-pills .nav-link {
    background: white;
    color: #464646;
    border-radius: 0;
    border: 1px solid black;
}

a.nav-link {
    color: darkgrey;
}

.tab-pane {
    margin-top: 20px;
}

    .tab-pane .board-member {
        padding-left: 10px;
        padding-right: 10px;
    }

.slick-prev:before, .slick-next:before {
    color: grey;
}

.slick-prev:before {
    content: '\2190';
}

hr.dotted {
    border-top: 1px dotted rgba(0, 0, 0, 0.3);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.show {
    visibility: visible !important;
    transition: all 0.3s ease-in-out;
}

.lead {
    font-size: 1.10rem;
    font-weight: 300;
}

.bg-green {
    background: #ACC4C4;
}

.text-white {
    color: white;
}

    .text-white h2 {
        color: white;
    }

    .text-white span {
        color: white;
    }

    .text-white p {
        color: white;
    }

.position-relative {
    position: relative;
}

blockquote {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #454545;
    margin-bottom: 30px;
}

    blockquote:before {
        display: block;
        padding-left: 10px;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -15px;
        top: -20px;
        color: black;
        font-family: "HelveticaNeueCondensedBold", Fallback, sans-serif;
    }

    blockquote:after {
        display: block;
        padding-left: 10px;
        content: "\201D";
        font-size: 80px;
        position: absolute;
        right: 0;
        bottom: -20px;
        color: black;
        font-family: "HelveticaNeueCondensedBold", Fallback, sans-serif;
    }

    blockquote cite {
        color: #999999;
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }

        blockquote cite:before {
            content: "\2014 \2009";
        }

body {
    margin: 60px 0 0;
}

section {
    position: relative;
    padding: 15px 0;
}

    section.page-content {
        padding-bottom: 100px;
    }

        section.page-content ul li {
            font-size: 14px;
            color: #454545;
            font-family: 'Roboto', sans-serif;
        }

    section h1.heading, section h2, section h3, section h4, section h5 {
        font-family: 'HelveticaUltraLight', Fallback, sans-serif;
        font-size: 70px;
        color: #454545;
        line-height: 0.9;
        margin-bottom: 30px;
    }

        section h1.heading span, section h2 span, section h3 span, section h4 span, section h5 span {
            font-family: 'HelveticaThin', Fallback, sans-serif;
            color: #000;
        }

    section h2 {
        font-size: 32px;
        font-family: 'HelveticaLight', Fallback, sans-serif;
    }

    section h3 {
        font-size: 28px;
        color: black;
        font-family: 'HelveticaThin', Fallback, sans-serif;
    }

    section h4 {
        font-family: 'HelveticaLight', Fallback, sans-serif;
        font-size: 24px;
    }

    section h5 {
        font-family: 'HelveticaLight', Fallback, sans-serif;
        font-size: 20px;
    }

    section p {
        font-size: 14px;
        color: #454545;
        font-family: 'Roboto', sans-serif;
    }

        section p.strong {
            font-weight: 600;
        }

        section p strong {
            font-weight: 600;
        }

    section .content b, section .content strong {
        font-weight: bold;
    }

    section .content p.lead {
        margin-bottom: 20px;
        font-family: "HelveticaLight", Fallback, sans-serif;
        font-size: 20px;
        line-height: normal;
    }

    section .content ul li {
        font-size: 14px;
        color: #454545;
        font-family: 'Roboto', sans-serif;
    }

    section .content ul.arrows {
        font-family: 'HelveticaLight', Fallback, sans-serif;
        margin-left: -15px;
    }

        section .content ul.arrows li {
            list-style-type: none;
            position: relative;
            padding-left: 0;
        }

            section .content ul.arrows li:before {
                content: "\2192";
                font-size: 15px;
                color: #707070;
                position: absolute;
                top: 0;
                left: -25px;
            }

header.home {
    height: 90vh;
}

@media (min-width: 1200px) {
    header.home .section-features {
        margin-left: 3em;
        margin-right: 3em;
    }
}

header.home .section-features .feature {
    padding-right: 15px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    header.home .section-features .feature {
        border-right: 1px solid white;
    }
}

header.home .section-features .feature h2 {
    font-size: 50px;
    color: white;
    font-family: 'HelveticaUltraLight', Fallback, sans-serif;
}

@media (max-width: 1200px) {
    header.home .section-features .feature h2 {
        font-size: 40px;
    }
}

header.home .section-features .feature p {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    header.home .section-features .feature {
        min-height: 185px;
    }
}

header.home .section-features .no-border {
    border-right: none;
}

.bg-gray {
    background: grey;
}

.black-content-block {
    background: black;
    color: white;
    padding: 30px;
}

    .black-content-block p.lead {
        color: white;
        margin-bottom: 0;
    }

        .black-content-block p.lead span {
            font-weight: 600;
        }

.h-60 {
    height: 30px;
}

.nav-sidebar {
    position: absolute;
    left: 2%;
    width: 13%;
    height: 100%;
}

    .nav-sidebar .sidebar-sticky {
        position: -webkit-sticky;
        /*position: sticky;*/
        top: 17%;
        padding: 0 10px;
        border-left: 1px solid grey;
        z-index: 10;
    }

.perspectives-article .nav-sidebar .sidebar-sticky {
    top: 10%;
}

.nav-sidebar .sidebar-perspectives {
    margin-top: 80px;
}

.featured-article-hero h2 {
    margin-bottom: 10px;
    font-family: 'HelveticaThin', Fallback, sans-serif;
}

.featured-article-hero {
    margin-bottom: 30px;
}

    .featured-article-hero p.featured-legend {
        font-size: 18px;
    }

    .featured-article-hero p.article-intro {
        color: #707070;
    }

    .featured-article-hero p.author {
        font-weight: 600;
    }

.perspectives-categories-intro-sidebar {
    position: absolute;
    top: 0;
    right: 6%;
    width: 10%;
    height: 100%;
}

    .perspectives-categories-intro-sidebar .sidebar {
        /*position: -webkit-sticky;*/
        /*position: sticky;*/
        /*top: 17%;*/
        /*padding: 0 10px;*/
    }

.perspectives-article .gallery-content-type a[class^="col-"] {
    padding-left: 0;
    padding-right: 8px;
    padding-bottom: 8px;
    max-height: 220px;
    min-height: 220px;
}

.perspectives-article .gallery-image {
    height: 100%;
}

.nav-sidebar .sidebar-sticky h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: black;
}

.nav-sidebar .sidebar-sticky ul li {
    margin-bottom: 5px;
}

    .nav-sidebar .sidebar-sticky ul li a.list-group-item {
        padding: 0;
        border: none;
        border-radius: 0;
        font-size: 12px;
        background: transparent;
        font-family: 'Roboto', sans-serif;
    }

    .nav-sidebar .sidebar-sticky ul li .list-group-item.active {
        color: #212529;
        background-color: transparent;
        font-weight: 600;
    }

        .nav-sidebar .sidebar-sticky ul li .list-group-item.active:before {
            content: " ";
            position: absolute;
            left: -14px;
            top: 37%;
            height: 6px;
            width: 6px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: #000;
        }

.nav-sidebar .sidebar-sticky .sub-list {
    margin-top: 5px;
    margin-left: 15px;
}

@media (max-width: 992px) {
    .nav-sidebar .sidebar-sticky {
        display: none;
    }
}

.score-card h4.card-title {
    font-family: "HelveticaLight", Fallback, sans-serif;
}

.bee-credentials {
    position: relative;
}

    .bee-credentials .card {
        background: white;
        z-index: 10;
        margin-bottom: 8px;
        border-radius: 0;
    }

        .bee-credentials .card .card-body h5 {
            font-family: HelveticaLight, Fallback, sans-serif;
            font-size: 18px;
        }

        .bee-credentials .card .card-body p.spend {
            font-family: HelveticaLight, Fallback, sans-serif;
            font-size: 22px;
            line-height: 1;
            font-weight: 600;
            color: black;
        }

        .bee-credentials .card .card-body hr {
            margin-top: 5px;
            margin-bottom: 5px;
            color: black;
        }

        .bee-credentials .card .card-body p {
            font-size: 12px;
            margin-bottom: 0;
        }

        .bee-credentials .card .card-body h3 {
            margin-bottom: 15px;
        }

        .bee-credentials .card .card-body ul li {
            font-size: 12px;
        }

    .bee-credentials .scorecard .scorecard-body {
        border: none;
        padding: 15px 0 0;
    }

.investor-information .section-heading p.lead {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 0.9;
    font-family: "HelveticaThin", Fallback, sans-serif;
}

.investor-information .section-heading p.small {
    color: #464646;
    font-size: 16px !important;
}

.investor-information .section-heading h1 {
    margin-bottom: 25px;
}

.assets {
    margin-top: 45px;
    position: relative;
}

    .assets p.lead {
        margin-bottom: 0;
    }

    .assets .border_ {
        border: 1px solid #707070;
        padding: 15px;
        margin-right: 75px;
    }

    .assets .conversion-rates {
        position: absolute;
        right: -15%;
        top: 15%;
        width: 200px;
    }

        .assets .conversion-rates li {
            font-size: 12px;
            display: block;
        }

            .assets .conversion-rates li.title {
                font-size: 18px;
            }

        .assets .conversion-rates:before {
            content: " ____ ";
            position: absolute;
            left: -25%;
            top: -5%;
            height: 1px;
        }

        .assets .conversion-rates:after {
            position: absolute;
            top: 13%;
            left: -12%;
            height: 5px;
            width: 5px;
            background: black;
            content: "";
            border-radius: 5px;
        }

    .assets .card {
        border: none;
        padding-right: 120px;
        margin-bottom: 15px;
    }

        .assets .card .card-body {
            padding: 0;
        }

            .assets .card .card-body hr {
                border-top: 3px solid black;
                margin-bottom: 0.5rem;
            }

            .assets .card .card-body .card-title {
                font-family: "HelveticaLight", Fallback, sans-serif;
                font-weight: 900;
                line-height: 1;
                margin-bottom: 0;
            }

                .assets .card .card-body .card-title span {
                    font-weight: 100;
                    font-size: 18px;
                }

        .assets .card p.number {
            font-family: "HelveticaThin", Fallback, sans-serif;
            font-size: 22px;
            line-height: 1;
        }

        .assets .card p.number-large {
            font-family: "HelveticaUltraLight", Fallback, sans-serif;
            font-size: 45px;
            line-height: 1;
        }

            .assets .card p.number-large span {
                font-family: "HelveticaThin", Fallback, sans-serif;
                font-size: 21px;
            }

        .assets .card p.billion {
            margin-bottom: 0;
            font-size: 10px;
        }

        .assets .card h5.card-title {
            font-family: "HelveticaThin", Fallback, sans-serif;
            margin-bottom: 25px;
            font-size: 18px;
        }

.operational-statistics {
    text-align: center;
    margin-top: 60px;
}

    .operational-statistics .block {
        text-align: center;
        vertical-align: middle;
    }

    .operational-statistics .circle {
        border-radius: 200px;
        height: 200px;
        font-weight: bold;
        width: 200px;
        margin: 20px auto;
        vertical-align: middle;
        display: table-cell;
        background: black;
        color: white;
        border: 10px solid white;
    }

        .operational-statistics .circle p {
            font-size: 16px;
            color: white;
        }

            .operational-statistics .circle p.intro {
                font-family: "HelveticaNeueRegular", Fallback, sans-serif;
                margin-bottom: 0;
                line-height: 1;
            }

            .operational-statistics .circle p.number {
                font-size: 40px;
                font-family: "HelveticaThin", Fallback, sans-serif;
            }

    .operational-statistics .circle-1 {
        border: 10px solid white;
    }

    .operational-statistics .circle-2 {
        border: 10px solid white;
    }

        .operational-statistics .circle-2 p.number {
            margin-bottom: 3px;
        }

        .operational-statistics .circle-2 p.small {
            font-size: 12px;
        }

    .operational-statistics .circle-3 {
        border: 10px solid white;
    }

.important-dates .table thead th {
    border-bottom: none;
    font-weight: normal;
}

.important-dates .table th, .important-dates .table td {
    border-top: none;
    font-weight: normal;
}

.important-dates th.date {
    border-left: 1px dotted #adb1b5;
    font-weight: bold;
    padding-left: 30px;
}

.important-dates td.date {
    border-left: 1px dotted #adb1b5;
    font-weight: bold;
    padding-left: 30px;
}

.important-dates .date h4 {
    font-size: 22px;
    margin-bottom: 12px;
}

.important-dates .date p.small {
    margin-bottom: 3px;
}

.important-dates .date p.strong {
    font-weight: 600;
    margin-bottom: 0;
}

.important-dates .border-right-dotted {
    border-right: 1px dotted grey;
}

.pull-up_ {
    margin: -6rem -100% 0;
    background: #D6E5E9;
}

.panel-accordion, .financial-results, .management-and-board, .governance {
}

    .panel-accordion table, .financial-results table, .management-and-board table, .governance table {
        margin-bottom: 0;
    }

    .panel-accordion .card p, .financial-results .card p, .management-and-board .card p, .governance .card p {
        font-size: 14px;
    }

    .panel-accordion .accordion .card-header, .financial-results .accordion .card-header, .management-and-board .accordion .card-header, .governance .accordion .card-header {
        cursor: pointer;
    }

        .panel-accordion .accordion .card-header:after, .financial-results .accordion .card-header:after, .management-and-board .accordion .card-header:after, .governance .accordion .card-header:after {
            content: " ";
            height: 35px;
            width: 35px;
            position: absolute;
            right: 0;
            background: url(../images/icons/icon-cross.png) no-repeat center top;
            background-size: contain;
        }

        .panel-accordion .accordion .card-header.collapsed:after, .financial-results .accordion .card-header.collapsed:after, .management-and-board .accordion .card-header.collapsed:after, .governance .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: " ";
            height: 35px;
            width: 35px;
            position: absolute;
            right: 0;
            background: url(../images/icons/icon-plus.png) no-repeat center top;
            background-size: contain;
        }

    .panel-accordion .accordion .card .card-header, .financial-results .accordion .card .card-header, .management-and-board .accordion .card .card-header, .governance .accordion .card .card-header {
        cursor: pointer;
    }

    .panel-accordion .nav-tabs .nav-link.active, .financial-results .nav-tabs .nav-link.active, .management-and-board .nav-tabs .nav-link.active, .governance .nav-tabs .nav-link.active, .panel-accordion .nav-tabs .nav-item.show .nav-link, .financial-results .nav-tabs .nav-item.show .nav-link, .management-and-board .nav-tabs .nav-item.show .nav-link, .governance .nav-tabs .nav-item.show .nav-link {
        border: none;
        font-weight: 900;
    }

    .panel-accordion .nav-item-date a.nav-link, .financial-results .nav-item-date a.nav-link, .management-and-board .nav-item-date a.nav-link, .governance .nav-item-date a.nav-link {
        padding-right: 0;
        margin-right: 15px;
        padding-bottom: 0;
    }

        .panel-accordion .nav-item-date a.nav-link:first-child, .financial-results .nav-item-date a.nav-link:first-child, .management-and-board .nav-item-date a.nav-link:first-child, .governance .nav-item-date a.nav-link:first-child {
            padding-left: 0;
        }

    .panel-accordion .nav-tabs, .financial-results .nav-tabs, .management-and-board .nav-tabs, .governance .nav-tabs {
        border-bottom: 0;
    }

        .panel-accordion .nav-tabs .nav-link:hover, .financial-results .nav-tabs .nav-link:hover, .management-and-board .nav-tabs .nav-link:hover, .governance .nav-tabs .nav-link:hover, .panel-accordion .nav-tabs .nav-link:focus, .financial-results .nav-tabs .nav-link:focus, .management-and-board .nav-tabs .nav-link:focus, .governance .nav-tabs .nav-link:focus {
            border-color: white;
        }

        .panel-accordion .nav-tabs .nav-link.active, .financial-results .nav-tabs .nav-link.active, .management-and-board .nav-tabs .nav-link.active, .governance .nav-tabs .nav-link.active {
            position: relative;
            border-bottom: 1px solid black;
        }

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.5rem 0rem;
    margin-right: 15px;
}

.panel-accordion .card-header, .financial-results .card-header, .management-and-board .card-header, .governance .card-header {
    background-color: transparent;
    cursor: pointer;
}

    .panel-accordion .card-header[aria-expanded="true"], .financial-results .card-header[aria-expanded="true"], .management-and-board .card-header[aria-expanded="true"], .governance .card-header[aria-expanded="true"] {
        font-weight: 600;
        font-family: "HelveticaLight", Fallback, sans-serif;
    }

.panel-accordion .card, .financial-results .card, .management-and-board .card, .governance .card {
    border: none;
}

.table-dark {
    color: black;
    background-color: white;
}

    .table-dark .icon-pdf {
        height: 20px;
    }

    .table-dark a {
        color: #454545;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

        .table-dark a .fa {
            color: grey;
            padding-left: 5px;
        }

        .table-dark a:hover .fa {
            text-decoration: underline;
        }

.table-sm th, .table-sm td {
    padding: 0;
}

.financial-results {
    position: relative;
}

    .financial-results .tab-content h4 {
        margin-bottom: 5px;
    }

.management-and-board .tab-content .card {
    border: none;
}

    .management-and-board .tab-content .card .card-body {
        padding: 1.25rem 0;
    }

    .management-and-board .tab-content .card h4 {
        font-size: 18px;
    }

    .management-and-board .tab-content .card h6 {
        font-size: 12px;
    }

    .management-and-board .tab-content .card p {
        font-size: 10px;
        margin-bottom: 0;
    }

.governance {
    position: relative;
    min-height: 30vw;
}

    .governance h3.panel-heading {
        background: #e9ecef;
        padding: 8px;
        font-weight: 600;
    }

    .governance h1.heading, .governance section h2, section .governance h2, .governance section h3, section .governance h3, .governance section h4, section .governance h4, .governance section h5, section .governance h5 {
        line-height: 0.7;
        font-family: 'HelveticaThin', Fallback, sans-serif;
        font-weight: normal;
    }

        .governance h1.heading span, .governance section h2 span, section .governance h2 span, .governance section h3 span, section .governance h3 span, .governance section h4 span, section .governance h4 span, .governance section h5 span, section .governance h5 span {
            font-family: 'HelveticaThin', Fallback, sans-serif;
        }

        .governance h1.heading small, .governance section h2 small, section .governance h2 small, .governance section h3 small, section .governance h3 small, .governance section h4 small, section .governance h4 small, .governance section h5 small, section .governance h5 small {
            font-size: 60%;
            color: grey;
        }

    .governance .enquire-box {
        margin-top: 40px;
    }

        .governance .enquire-box p {
            font-size: 14px;
        }

    .governance .email-icon {
        height: 40px;
        margin-bottom: 15px;
    }

    .governance .report-to-society-box {
        position: absolute;
        right: -20%;
        top: 33%;
        width: 80px;
        border: 1px solid black;
        padding: 8px;
    }

        .governance .report-to-society-box p {
            font-size: 10px;
            margin-bottom: 0;
        }

        .governance .report-to-society-box:before {
            content: " ____ ";
            position: absolute;
            left: -45px;
            top: -3px;
            height: 1px;
        }

        .governance .report-to-society-box:after {
            position: absolute;
            top: 15px;
            left: -48px;
            height: 5px;
            width: 5px;
            background: black;
            content: "";
            border-radius: 5px;
        }

img.line-activities {
    position: absolute;
    right: 34%;
    top: 36%;
    height: 30%;
}

.empowerment-foundation .foundation-trustees {
    position: absolute;
    right: 8%;
    top: 0;
    height: 600px;
    width: 150px;
}

    .empowerment-foundation .foundation-trustees p.strong {
        margin-bottom: 0;
    }

.empowerment-foundation .bg-grey {
    background: #BEBEBE;
}

.empowerment-foundation .content-block-with-arrow {
    position: relative;
}

    .empowerment-foundation .content-block-with-arrow p {
        font-size: 18px;
    }

    .empowerment-foundation .content-block-with-arrow:after {
        content: "";
        position: absolute;
        left: 3%;
        bottom: -20%;
        width: 0;
        height: 0;
        border-left: 170px solid transparent;
        border-right: 170px solid transparent;
        border-top: 40px solid #BEBEBE;
        z-index: 10000;
    }

.empowerment-foundation .big-bet-container div.col-lg-4 {
    padding: 0 5px 5px;
}

.empowerment-foundation img.pdf-icon {
    height: 20px;
    margin-top: -5px;
}

.empowerment-foundation .big-bet-container .card {
    min-height: 430px;
}

.empowerment-foundation .big-bet-container .card {
    min-height: 430px;
    padding-top: 15px;
}

    .empowerment-foundation .big-bet-container .card h6.card-title {
        text-transform: uppercase;
    }

    .empowerment-foundation .big-bet-container .card .card-subtitle {
        text-transform: uppercase;
        font-size: 12px;
        color: black;
        font-weight: 600;
    }

    .empowerment-foundation .big-bet-container .card .card-text {
        font-size: 12px;
    }

    .empowerment-foundation .big-bet-container .card p.number {
        font-weight: 900;
        font-size: 28px;
        color: black;
        line-height: 1;
        margin-top: 5px;
    }

        .empowerment-foundation .big-bet-container .card p.number span.per-year {
            font-size: 10px;
            font-weight: 900;
            display: block;
        }

    .empowerment-foundation .big-bet-container .card .table th, .empowerment-foundation .big-bet-container .card .table td {
        border-top: none;
    }

    .empowerment-foundation .big-bet-container .card .table td {
        font-weight: 900;
    }

        .empowerment-foundation .big-bet-container .card .table td span {
            font-weight: normal;
        }

            .empowerment-foundation .big-bet-container .card .table td span.small {
                font-size: 10px;
                line-height: 1;
            }

    .empowerment-foundation .big-bet-container .card .table th span {
        background: #D6E5E9;
        padding: 1px 15px;
    }

.monitoring-evaluation .education-programmes {
    margin-bottom: 60px;
}

    .monitoring-evaluation .education-programmes .section-heading {
        margin-bottom: 15px;
    }

        .monitoring-evaluation .education-programmes .section-heading h4 {
            margin-bottom: 5px;
            color: black;
        }

        .monitoring-evaluation .education-programmes .section-heading h5 {
            font-size: 16px;
            color: #7C7C7C;
            line-height: 1.4;
            margin-bottom: 0;
        }

    .monitoring-evaluation .education-programmes img.pdf-icon {
        height: 20px;
        margin-top: -5px;
    }

    .monitoring-evaluation .education-programmes .section-heading h5 span {
        display: block;
        font-weight: 900;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
    }

    .monitoring-evaluation .education-programmes img.knowledge-sharing {
        padding-top: 30px;
    }

.previous-evaluation-reports h5 {
    margin-bottom: 30px;
}

.previous-evaluation-reports h4 {
    margin-bottom: 5px;
}

.previous-evaluation-reports hr {
    margin-bottom: 5px;
}

.education-programmes a small {
    font-weight: 600;
}

/*! CSS Used from: http://firstrand180731.azurewebsites.net/css/bootstrap.min.css */
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

img {
    border: 0;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

h3, h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.sens a {
    color: grey;
    font-size: 14px;
}

.sens .sens-date {
    font-weight: 600;
}

.sens .sens-box {
    margin-bottom: 15px;
    border: 1px solid grey;
    padding: 10px;
}

.social-investing .annual-reports-boxes {
    position: absolute;
    right: -27%;
    bottom: 40%;
    width: 200px;
    min-height: 80px;
}

.social-investing-jumbotron {
    margin: 30px -100%;
}

.social-investing h2 {
    font-family: 'HelveticaThin', Fallback, sans-serif;
    font-size: 40px;
}

    .social-investing h2 span {
        font-family: 'HelveticaUltraLight', Fallback, sans-serif;
    }

.social-investing .annual-reports-boxes div.col-lg-6 {
    padding: 5px;
}

.social-investing .annual-reports-boxes .border-solid {
    border: 1px solid black;
    padding: 5px;
}

.social-investing .annual-reports-boxes p {
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-size: 10px;
}

.social-investing .social-value-block h5 {
    font-weight: 600;
}

object.svg-regional-presence {
    height: 50vh;
    width: 100%;
}

    object.svg-regional-presence svg {
        position: relative;
    }

        object.svg-regional-presence svg #southAfrica {
            cursor: pointer;
        }

        object.svg-regional-presence svg #botswana {
            cursor: pointer;
        }

        object.svg-regional-presence svg #namibia {
            cursor: pointer;
        }

        object.svg-regional-presence svg #zambia {
            cursor: pointer;
        }

        object.svg-regional-presence svg #mozambique {
            cursor: pointer;
        }

        object.svg-regional-presence svg #tanzania {
            cursor: pointer;
        }

        object.svg-regional-presence svg #kenya {
            cursor: pointer;
        }

        object.svg-regional-presence svg #angola {
            cursor: pointer;
        }

        object.svg-regional-presence svg #ghana {
            cursor: pointer;
        }

        object.svg-regional-presence svg #nigeria {
            cursor: pointer;
        }

        object.svg-regional-presence svg #india {
            cursor: pointer;
        }

        object.svg-regional-presence svg #uk {
            cursor: pointer;
        }

        object.svg-regional-presence svg #china {
            cursor: pointer;
        }

        object.svg-regional-presence svg #guernsey {
            cursor: pointer;
        }

        object.svg-regional-presence svg #southAfricaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #botswanaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #namibiaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #zambiaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #mozambiqueCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #tanzaniaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #kenyaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #angolaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #ghanaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #nigeriaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #indiaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #ukCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #chinaCircle {
            cursor: pointer;
        }

        object.svg-regional-presence svg #guernseyCircle {
            cursor: pointer;
        }

    object.svg-regional-presence .country-info {
        position: absolute;
        bottom: 30%;
        right: -5%;
        width: 35%;
        min-height: 30%;
        visibility: hidden;
    }

        object.svg-regional-presence .country-info .footnotes {
            margin-top: 5px;
        }

            object.svg-regional-presence .country-info .footnotes p.footnote {
                font-size: 8px;
                margin-bottom: 0;
            }

.svg-staff-assistance-trust object svg {
    height: 24em;
}

.svg-staff-assistance-trust ul li {
    font-style: normal;
    font-size: 12px !important;
}

.text-staff-assistance-trust {
    padding-left: 15px;
    padding-top: 100px;
}

    .text-staff-assistance-trust p.lead {
        font-size: 18px !important;
    }

    .text-staff-assistance-trust p span {
        font-size: 24px;
        font-weight: 600;
        color: black;
    }

    .text-staff-assistance-trust p.number {
        font-size: 50px;
        font-weight: 600;
        font-family: "HelveticaThin", Fallback, sans-serif;
        line-height: 1;
        color: black;
    }

    .text-staff-assistance-trust p {
        margin-bottom: 5px;
    }

object.svg-regional-presence .country-info .content-block {
    position: relative;
    background: white;
    border: 1px solid grey;
    padding: 15px;
}

    object.svg-regional-presence .country-info .content-block h2 {
        margin-bottom: 5px;
        font-size: 48px;
        font-family: "HelveticaUltraLight", Fallback, sans-serif;
        font-weight: 600;
    }

    object.svg-regional-presence .country-info .content-block h3 {
        font-family: "HelveticaThin", Fallback, sans-serif;
        font-weight: 900;
    }

    object.svg-regional-presence .country-info .content-block p.card-subtitle {
        font-family: "HelveticaLight", Fallback, sans-serif;
        font-size: 16px;
        color: gray;
    }

    object.svg-regional-presence .country-info .content-block p {
        margin-bottom: 5px;
    }

    object.svg-regional-presence .country-info .content-block .border-right-light {
        border-right: 1px solid grey;
    }

    object.svg-regional-presence .country-info .content-block p.subtext {
        font-size: 16px;
        font-family: "HelveticaLight", Fallback, sans-serif;
        line-height: 1;
        color: grey;
    }

    object.svg-regional-presence .country-info .content-block img.icon-country {
        height: 75px;
        position: absolute;
        top: -35px;
        right: 10%;
    }

object.svg-regional-presence .legend {
    position: absolute;
    bottom: 10%;
    left: 40%;
}

    object.svg-regional-presence .legend ul {
        list-style: none;
    }

        object.svg-regional-presence .legend ul li {
            font-size: 12px;
        }

            object.svg-regional-presence .legend ul li span img {
                height: 20px;
            }

.csi-spend object svg {
    height: 30em;
}

img.img-h-50 {
    height: 50px;
    margin-bottom: 15px;
}

.group-strategy .border-none {
    border: none;
}

.group-strategy .Gray-block {
    float: left;
    background: #999;
    width: 100%;
    padding: 15px;
}

    .group-strategy .Gray-block .heading {
        font-size: 20px;
    }

.group-strategy .header-text {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

.group-strategy .white-block-black {
    background: #fff;
    color: #000;
    font-size: 12px;
    padding: 5%;
    text-align: center;
}

.group-strategy .first-white-block {
    padding: 6%;
}

.group-strategy .white-block-black span {
    font-weight: bold;
}

.group-strategy .country-block-head {
    font-weight: bold;
    text-align: center;
}

.group-strategy .country-block-text {
    text-align: center;
    font-size: 12px;
}

.group-strategy .block-dotted-line {
    float: left;
    border: 1px dotted #fff;
    width: 100%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.group-strategy .bottom-block-white {
    float: left;
    width: 100%;
    background: #fff;
    padding: 18px;
    margin-top: 5px;
}

.group-strategy .white-block-black-line {
    height: 10px;
    margin-top: -20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.social-value-creation-framework {
    position: relative;
}

.simplified-legal-structure #BanksImageRedo {
    font-size: 12px;
}

    .simplified-legal-structure #BanksImageRedo .ownBorder {
        border: 1px solid black;
    }

    .simplified-legal-structure #BanksImageRedo .SecBlockBorder {
        border: 2px solid black;
    }

    .simplified-legal-structure #BanksImageRedo .content p {
        margin-bottom: 0;
    }

    .simplified-legal-structure #BanksImageRedo .col-lg-2 {
        padding: 0 2px;
    }

    .simplified-legal-structure #BanksImageRedo .blueFill {
        background-color: #bed4e9;
    }

        .simplified-legal-structure #BanksImageRedo .blueFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .purpleFill {
        background-color: #bab7d6;
    }

        .simplified-legal-structure #BanksImageRedo .purpleFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .yellowFill {
        background-color: #ffefb4;
    }

        .simplified-legal-structure #BanksImageRedo .yellowFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .dblueFill {
        background-color: #c0d7df;
    }

        .simplified-legal-structure #BanksImageRedo .dblueFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .redFill {
        background-color: #f0c7c1;
    }

        .simplified-legal-structure #BanksImageRedo .redFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .greenFill {
        background-color: #d7e7da;
    }

        .simplified-legal-structure #BanksImageRedo .greenFill p {
            margin-bottom: 0;
        }

    .simplified-legal-structure #BanksImageRedo .BankingBlocksMargin {
        margin: 3px -12px;
    }

    .simplified-legal-structure #BanksImageRedo .secondBlockHeight {
        height: 207px;
        font-size: 15px;
    }

    .simplified-legal-structure #BanksImageRedo .infoBlockHeight {
        min-height: 300px;
    }

    .simplified-legal-structure #BanksImageRedo .firstBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .secBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .thirdBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .fourthBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .fithBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .sixthBlockAlign {
        display: table-cell;
        vertical-align: middle;
        height: 136px;
    }

    .simplified-legal-structure #BanksImageRedo .blockHeight {
        display: table-cell;
        vertical-align: middle;
        height: 64px;
        width: 103px;
    }

        .simplified-legal-structure #BanksImageRedo .blockHeight p {
            margin: 0 0 3px;
        }

    .simplified-legal-structure #BanksImageRedo .secndinfo span {
        font-weight: bold;
        font-size: 13px;
    }

    .simplified-legal-structure #BanksImageRedo .paddingL20px {
        padding-left: 20px;
    }

    .simplified-legal-structure #BanksImageRedo .no-deco {
        list-style: none;
    }

    .simplified-legal-structure #BanksImageRedo .limitWidth {
        width: 5px;
        margin-left: 5px;
        font-weight: bold;
    }

    .simplified-legal-structure #BanksImageRedo .border-bottom {
        font-size: 12px;
    }

    .simplified-legal-structure #BanksImageRedo .BottomInfoFontSize {
        font-size: 12px;
    }

        .simplified-legal-structure #BanksImageRedo .BottomInfoFontSize h6 {
            font-size: 14px;
        }

    .simplified-legal-structure #BanksImageRedo .BankingBlocksMargin p {
        font-weight: 500;
    }

    .simplified-legal-structure #BanksImageRedo .ConnectorBlocks {
        height: 15px;
        border-left: 1px dotted black;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .simplified-legal-structure #BanksImageRedo .topRowLeft {
        border-left: 1px solid;
        border-top: 1px solid;
        height: 20px;
        margin-bottom: 3px;
    }

    .simplified-legal-structure #BanksImageRedo .topRowRight {
        border-right: 1px solid;
        border-top: 1px solid;
        height: 20px;
        margin-bottom: 3px;
    }

    .simplified-legal-structure #BanksImageRedo .topRow {
        border-top: 1px solid;
        height: 20px;
        margin-bottom: 3px;
    }

    .simplified-legal-structure #BanksImageRedo .middleLine {
        border-left: 1px solid;
        height: 20px;
    }

.scholarships .content h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.scholarships .content .bg-grey {
    background-color: #D6E5E9;
}

.scholarships .content p.lead {
    margin: 20px 30px 30px 0;
}

.volunteers .bg-gray {
    background: #EDEFF0;
    padding: 30px;
}

.volunteers .block-volunteers {
    border: 5px solid #d2d2d2;
    padding: 15px 15px 0;
    margin-bottom: 10px;
}

    .volunteers .block-volunteers p {
        line-height: 1;
    }

        .volunteers .block-volunteers p span.number-large {
            font-size: 48px;
            font-family: 'HelveticaThin', Fallback, sans-serif;
            font-weight: 600;
            color: black;
        }

        .volunteers .block-volunteers p strong {
            color: black;
            font-weight: 600;
        }

.volunteers .group-drives {
    display: table-cell;
    vertical-align: bottom;
    height: 220px;
}

    .volunteers .group-drives h5 {
        color: grey;
    }

.volunteers .section-gallery div.col-lg-3 {
    padding: 2px;
}

.volunteers .section-gallery .gallery-footer a.more-gallery {
    margin-bottom: 25px;
}

.volunteers .section-gallery .gallery-footer a {
    margin-bottom: 15px;
}

.volunteers .section-gallery .gallery-footer img {
    height: 45px;
}

.volunteers .border-solid {
    border: 1px solid #ccc;
    padding: 15px;
}

.painting-classrooms .service-blocks {
    width: 500px;
    margin: 30px auto;
}

    .painting-classrooms .service-blocks .service-item {
        border: 1px solid lightgray;
        min-height: 120px;
        height: 100px;
        width: 120px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

        .painting-classrooms .service-blocks .service-item img.icon {
            height: 30px;
            display: block;
            margin: 5px auto;
        }

        .painting-classrooms .service-blocks .service-item p {
            font-size: 12px;
            color: grey;
            font-family: "HelveticaLight", Fallback, sans-serif;
            text-transform: lowercase;
        }

.painting-classrooms #accordion .card h5.card-title {
    font-weight: 900;
}

.painting-classrooms #accordion .card p.card-subtitle {
    color: grey;
}

.pfs-paragraph-white {
    background: white;
    padding: 5px;
    margin: 5px -8px 2px;
    /*min-height: 43px;*/
    line-height: 1.2;
    font-size: 16px !important;
}


p.pfs-paragraph-white {
    font-size: 14px !important;
}

.fs-svg-model {
    width: 63em;
    height: 28em;
}

.section-links p {
    font-size: 13px;
    font-weight: 600;
}

.pa-remgro {
    position: absolute;
    top: 10%;
    left: 14%;
}

.pa-remgro-num1 {
    position: absolute;
    top: 22%;
    left: 17.5%;
    font-family: 'Roboto Medium';
}

.pa-remgro-num2 {
    top: 22%;
    left: 24.5%;
    position: absolute;
    font-family: 'Roboto Medium';
}

.pa-directors {
    position: absolute;
    top: 10%;
    left: 49%;
}

.pa-directors-num {
    position: absolute;
    top: 22%;
    left: 50.7%;
    font-family: 'Roboto Medium';
}

.pa-royal {
    position: absolute;
    top: 10%;
    left: 74%;
}

.pa-royal-num {
    position: absolute;
    top: 22%;
    right: 13%;
    font-family: 'Roboto Medium';
}

.pa-rmb-holdings-limited {
    position: absolute;
    top: 36%;
    left: 45%;
}

.pa-rmb {
    position: absolute;
    top: 40%;
    left: 44%;
}

.pa-bee-partners {
    position: absolute;
    top: 53%;
    right: 16%;
}

.pa-rmb-num {
    position: absolute;
    top: 48.5%;
    left: 50.5%;
    font-family: 'Roboto Medium';
}

.pa-bee-num {
    position: absolute;
    bottom: 25%;
    right: 18.5%;
    font-family: 'Roboto Medium';
}

.pfs-position-relative {
    position: relative;
}

.pa-fsr-text {
    position: absolute;
    bottom: 7%;
    left: 36%;
    font-family: 'Roboto Light';
}

.pfr-download-link {
    position: absolute;
    bottom: 0%;
    left: 48.5%;
}

.pfs-position-relative-first {
    position: relative;
    width: 60em;
    margin-left: -37px;
}


.model-bg-blue.text {
    margin-bottom: 5px !important;
    padding: 5px;
}

.model-bg-orange.text {
    margin-bottom: 5px !important;
    padding: 5px;
}

.model-bg-purple.text {
    margin-bottom: 5px !important;
    padding: 5px;
}

.model-bg-purple-light.text {
    margin-bottom: 5px !important;
    padding: 5px;
}

.model-bg-brown.text {
    margin-bottom: 5px !important;
    padding: 5px;
}

.model-bg-blue.text p {
    margin-bottom: 0;
    font-family: 'Roboto Medium';
}

.model-bg-orange.text p {
    margin-bottom: 0;
    font-family: 'Roboto Medium';
}

.model-bg-purple.text p {
    margin-bottom: 0;
    font-family: 'Roboto Medium';
}

.model-bg-purple-light.text p {
    margin-bottom: 0;
    font-family: 'Roboto Medium';
}

.model-bg-brown.text p {
    margin-bottom: 0;
    font-family: 'Roboto Medium';
}

.text-line-small {
    min-height: 65px;
    font-size: 16px !important;
    line-height: 1.2;
    font-family: 'Roboto Regular';
}


.table-shareholders > tbody > tr > td > p > small {
    font-size: 12px;
    min-height: 10px;
}

/*.padding-v-align {
padding-top: 17px;
}*/
.pfs-padded-top-sm {
    padding-top: 10px;
}

.pfs-line-img img {
    height: 42px;
    width: 85%;
}

.pfs-circle-green-container {
    background: black;
    border: 1px solid black;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    font-size: 16px;
    float: none;
    margin-right: 30px;
    text-align: center;
}

.pfs-circle-green {
    background: black;
    border-radius: 50%;
    height: 95%;
    margin: 5px;
    width: 95%;
    padding: 5px;
    padding-top: 25%;
}

    .pfs-circle-green h5 span {
        color: white;
    }

.pfs-border-grey {
    border: 1px solid #000000;
    background: #cccccc;
    min-height: 36vh;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: 36vh;
    padding: 10px 15px;
}

    .pfs-border-grey p {
        margin-bottom: 0;
    }

.pfs-border-yellow p {
    margin-bottom: 0;
}

.pfs-border-yellow {
    border: 1px dotted #cccccc;
    background: #fdf9cd;
    min-height: 36vh;
    height: 36vh;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.pfs-col-no-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.pfs-circle-green h5.bigger-h5 {
    font-size: 18px;
    line-height: 1.2;
}

.pfr-bg-gray {
    background: #F5F6EF;
    margin: 5px 0;
    padding: 5px 0 5px 0;
}

.pfr-bg-blue {
    background: black;
    color: white;
    padding: 12px 5px 1px;
    color: #000;
    margin: 0 15px;
}

.svg-society-sizing {
    /*height: 20em;
  margin: 0 auto;
  width: 20em;*/
}

.pfr-with-border {
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 60px;
    margin-left: 5px;
}

hr.pfr-black {
    color: black;
    border-top: 1px solid #000;
    width: 85%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pfr-legend > p > small {
    font-size: 10px;
    margin-bottom: 10px;
}

.pfr-legend-title {
    position: absolute;
    top: 6%;
    left: 0%;
}

.pfr-margin-left-sm {
    margin-left: 4%;
}

.pfr-position-relative {
    position: relative;
    height: 20em;
}

.pfr-legend {
    position: absolute;
    bottom: 5%;
    right: 30px;
}

@media (min-width: 992px) {
    .pfs-position-relative-first {
        margin-left: -37px;
        margin-bottom: -15px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .text-line-small {
        min-height: 90px;
    }
}

@media (max-width: 992px) {
    .text-line-small {
        min-height: 0;
        margin-top: -15px;
    }
}



@media (min-width: 992px) and (max-width: 1200px) {
    .pfs-line-img img {
        height: 34px;
    }
}

@media (max-width: 992px) {
    .pfs-padded-top-sm {
        padding-top: 0;
    }
}


@media (min-width: 992px) and (max-width: 1050px) {
    .pfs-border-grey {
        min-height: 48vh;
        max-height: 48vh;
        height: 48vh;
    }

    .pfs-border-yellow {
        min-height: 43vh !important;
        max-height: 43vh !important;
        height: 43vh !important;
    }
}

@media (min-width: 1050px) and (max-width: 1200px) {
    .pfs-border-grey {
        min-height: 36vh;
        max-height: 36vh;
        height: 36vh;
    }

    .pfs-border-yellow {
        min-height: 36vh !important;
        max-height: 36vh !important;
        height: 36vh !important;
    }
}

@media (min-width: 1200px) {
    .pfs-border-grey {
        min-height: 30vh !important;
        max-height: 30vh !important;
        height: 30vh !important;
    }

    .pfs-border-yellow {
        min-height: 30vh !important;
        max-height: 30vh !important;
        height: 30vh !important;
    }
}

@media (max-width: 992px) {
    .pfs-border-grey {
        display: block !important;
        height: auto !important;
        min-height: 5px !important;
        width: 100%;
        margin-bottom: 5px;
        padding: 9px 0;
    }

    .pfs-border-yellow {
        display: block !important;
        height: 7vh !important;
        min-height: 5vh !important;
        width: 100%;
        padding: 15px 15px !important;
        margin-bottom: 5px;
    }

    hr.pfr-black {
        width: 15% !important;
        display: inline-block;
        float: none;
    }
}

@media (max-width: 600px) {
    .pfs-border-yellow {
        height: 10vh !important;
    }
}


@media (min-width: 992px) {
    .svg-col {
        border-right: 1px dotted black;
        border-left: 1px dotted black;
    }
}

@media (max-width: 992px) {
    .svg-col {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.pfr-text-blue {
    color: #329ECE;
}

@media (min-width: 992px) {
    .pfr-text-larger {
        font-size: 26px;
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    .pfr-text-larger {
        font-size: 26px;
        font-weight: 600;
    }
}

.pfr-margin-left-sm {
    margin-left: 4%;
}

@media (max-width: 992px) {
    .pfr-margin-left-sm {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .pfr-block-creation {
        padding-top: 6%;
    }
}

@media (min-width: 992px) {
    .pfr-block-empowerment {
        padding-top: 5%;
    }
}

@media (max-width: 992px) {
    .pfr-block-creation {
        padding: 0 10%;
    }
}

@media (max-width: 992px) {
    .pfr-block-empowerment {
        padding: 0 10%;
    }
}


@media (max-width: 992px) {
    .pfr-legend {
        bottom: 11%;
        right: 7%;
    }
}

@media (max-width: 992px) {
    .pfr-legend > p {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    .pfr-legend-title {
        position: absolute;
        top: 6%;
        left: 0%;
    }
}

.pfr-legend-title > p > small {
    font-size: 12px;
}

.line-dotted-one {
    float: left;
    width: 1px;
    border-right: 1px dotted #cccccc;
    height: 15px;
    margin-left: 50%;
    margin-right: 40%;
    margin-top: 0px;
}

.line-dotted-one-up {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 50%;
    margin-right: 40%;
}

.line-dotted-one-up-right {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 33%;
    margin-right: 40%;
}

.line-dotted-one-up-left {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 67%;
    margin-right: 40%;
}

.line-dotted-one-up-left1 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 20%;
    margin-right: 40%;
}

.line-dotted-one-up-left2 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 40%;
    margin-right: 40%;
}

.line-dotted-one-up-left3 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 60%;
    margin-right: 30%;
}

.line-dotted-one-up-left4 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 80%;
    margin-right: 18%;
}

.line-dotted-one-up-left5 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 26%;
    margin-right: 40%;
}

.line-dotted-one-up-left6 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 49.9%;
    margin-right: 40%;
}

.line-dotted-one-up-left7 {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 76%;
    margin-right: 30%;
}

.line-curved {
    float: left;
    margin-top: 0px;
    border-top: 1px dotted #cccccc;
    border-left: 1px dotted #cccccc;
    border-right: 1px dotted #cccccc;
    border-radius: 5px 5px 0px 0px;
    height: 25px;
    width: 99.5%;
}

.lightgray-block-investors h3 {
    margin-top: 15px !important;
    margin-bottom: -5px !important;
}

.finace-gray-text {
    color: #808284 !important;
    margin-bottom: -5px !important;
}

.pfr-logo-circle img {
    margin-bottom: 20px;
}

.rmb-blue-block-fixed {
    width: 74%;
    float: left;
    margin-left: 13%;
    margin-right: 13%;
}

.line-dotted-one {
    float: left;
    width: 1px;
    border-right: 1px dotted #cccccc;
    height: 15px;
    margin-left: 50%;
    margin-right: 40%;
    margin-top: 0px;
}

.line-dotted-one-up-left {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 67%;
    margin-right: 40%;
}

.line-dotted-one-up-right {
    float: left;
    width: 1px;
    margin-top: -25px;
    border-right: 1px dotted #cccccc;
    height: 25px;
    margin-left: 33%;
    margin-right: 40%;
}

.ul-perspectives-categories ul li.active {
    background: black;
    color: white;
}

    .ul-perspectives-categories ul li.active a {
        color: white;
    }

._btn-more {
    background: #333333;
    border-radius: 0;
    padding: 5px 30px;
}

    ._btn-more:hover {
        color: #e6e6e6;
        background: black;
    }

.bg-gray {
    background: #eceded;
}

hr._center {
    width: 97.4%;
    float: none;
    margin-left: 5px;
    border-top: 1px solid #999;
    margin-top: 0;
    margin-bottom: 0;
}

.img-cover {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.bg-white {
    background: white;
}

.margin-top-sm {
    margin-top: 10px;
}

.text-color {
    color: black;
}

    .text-color a {
        color: black;
    }

    .text-color p {
        color: black;
    }

a.text-color {
    color: black;
}

    a.text-color a {
        color: black;
    }

    a.text-color p {
        color: black;
    }

.text-color-red {
    color: black !important;
}

    .text-color-red a {
        color: black !important;
    }

    .text-color-red p {
        color: black !important;
    }

.text-color-red {
    color: black !important;
}

    .text-color-red a {
        color: black !important;
    }

    .text-color-red p {
        color: black !important;
    }

.text-color-blue {
    color: black !important;
}

    .text-color-blue a {
        color: black !important;
    }

    .text-color-blue p {
        color: black !important;
    }

.text-color-orange {
    color: black !important;
}

    .text-color-orange a {
        color: black !important;
    }

    .text-color-orange p {
        color: black !important;
    }

.text-color-green {
    color: black !important;
}

    .text-color-green a {
        color: black !important;
    }

    .text-color-green p {
        color: black !important;
    }

.body-content {
    margin-top: 80px;
}

.position-relative {
    position: relative;
}

.ul-perspectives-categories ul li {
    border-right: 1px solid black;
    text-transform: uppercase;
    text-align: center;
    padding: 7px;
    background: white;
    transition: all 0.3s ease-in-out;
}

    .ul-perspectives-categories ul li:last-child {
        border-right: none;
    }

    .ul-perspectives-categories ul li:hover {
        background: black;
        color: white;
        transition: all 0.3s ease-in-out;
    }

        .ul-perspectives-categories ul li:hover a {
            color: white;
        }

    .ul-perspectives-categories ul li:active {
        background: black;
        color: white;
    }

    .ul-perspectives-categories ul li a {
        text-decoration: none;
        color: black;
    }

.banner-perspectives {
    background: url("/images/banners/banner-perspectives.jpg") no-repeat center center;
    background-size: cover;
    min-height: 131px;
}

    .banner-perspectives h1 {
        font-size: 4em;
    }

    .banner-perspectives h2 {
        color: #000;
        padding-top: 0;
        margin-top: 0;
        font-size: 1em;
        text-transform: uppercase;
    }

.banner-perspectives-article {
    background: url("/images/banners/perspectives-banner-title.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100px;
}

.perspectives-article h2.heading {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 15px;
    padding: 0;
    font-family: 'HelveticaThin', Fallback, sans-serif;
}

.perspectives-article p.author {
    font-weight: 600;
    margin: 0;
}

.perspectives-article .social-icons ul li {
    font-size: 22px;
    color: grey;
}

.sidebar {
    padding-left: 15px;
}

.banner-perspectives-article .heading h2 {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

.banner-perspectives-article .heading p.category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}

.banner-perspectives-article .heading p.author {
    color: black;
}

.article-wo-thumbnail {
    background: #C0DBDE url(/images/elements/icon-typewriter.png) no-repeat 50% 30%;
    background-size: 29%;
    width: 10%;
}

.article-w-video {
    background-size: cover;
}

    .article-w-video img {
        height: 130px;
    }

.article-w-audio {
    background: #C0DBDE url(/images/elements/icon-audio.png) no-repeat 50% 30%;
    background-size: 28%;
    width: 10%;
}

.article-banner .img-source {
    font-size: 12px;
    margin-top: 10px;
    font-family: "HelveticaLight", Fallback, sans-serif;
}

.article-banner .video {
    margin-top: -35px;
}

.article-main {
    height: 400px;
    position: relative;
    margin-top: 10px;
    box-shadow: 5px 9px 20px 0 #888888;
}

    .article-main .caption {
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 110px;
        padding: 15px;
        background: rgba(0, 0, 0, 0.36);
    }

        .article-main .caption p.category {
            text-transform: uppercase;
            margin-bottom: 5px;
            text-align: right;
        }

            .article-main .caption p.category a {
                color: black;
            }

        .article-main .caption p.title {
            text-transform: uppercase;
            font-size: 2em;
            margin-bottom: 0;
            font-family: "HelveticaUltraLight", Fallback, sans-serif;
        }

            .article-main .caption p.title a {
                color: white;
            }

        .article-main .caption p.post-info {
            color: white;
            font-family: "HelveticaNeueCondensedBold", Fallback, sans-serif;
        }

.articles-list .row, .category-all-listview .row {
    margin-bottom: 30px;
}

.related-items-slideshow .caption-container, .category-all-listview .caption-container {
    padding-right: 10px;
}

.articles-list .caption-container, .category-all-listview .caption-container {
    transition: all 0.3s ease-in-out;
}

    .articles-list .caption-container a, .category-all-listview .caption-container a {
        color: white;
        text-decoration: none;
    }

@media (min-width: 1200px) {
    .articles-list .caption-container a, .category-all-listview .caption-container a {
        margin-top: 12px !important;
    }
}

.articles-list .caption-container:hover .caption .caption-info, .category-all-listview .caption-container:hover .caption .caption-info {
    transition: all 0.3s ease-in-out;
}

.articles-list .caption-container .caption, .category-all-listview .caption-container .caption {
    padding: 15px 0 0;
    height: 220px;
    display: table-cell;
    vertical-align: bottom;
    width: 1%;
    position: relative;
}

    .articles-list .caption-container .caption .icon-video, .category-all-listview .caption-container .caption .icon-video {
        height: 63px;
        position: absolute;
        right: 39%;
        top: 25%;
    }

    .articles-list .caption-container .caption .caption-info, .category-all-listview .caption-container .caption .caption-info {
        padding: 1px 10px 1px;
        background: transparent;
        transition: all 0.3s ease-in-out;
    }

@media (min-width: 992px) {
    .articles-list .caption-container .caption .caption-info, .category-all-listview .caption-container .caption .caption-info {
        display: table-cell;
        vertical-align: middle;
        height: 65px;
    }
}

.articles-list .caption-container .caption .caption-info h3.title, .category-all-listview .caption-container .caption .caption-info h3.title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    line-height: normal;
    margin-top: 12px;
}

@media (min-width: 992px) {
    .articles-list .caption-container .caption .caption-info h3.title, .category-all-listview .caption-container .caption .caption-info h3.title {
        margin: 0;
    }
}

.articles-list .caption-container .caption .caption-info h3.title a, .category-all-listview .caption-container .caption .caption-info h3.title a {
    color: white;
}

    .articles-list .caption-container .caption .caption-info h3.title a:hover, .category-all-listview .caption-container .caption .caption-info h3.title a:hover {
        text-decoration: none;
    }

.articles-list .caption-container .caption .caption-info p.post-info, .category-all-listview .caption-container .caption .caption-info p.post-info {
    color: #ccc;
}

.articles-list .caption-container .article-placeholder, .category-all-listview .caption-container .article-placeholder {
    background: url("../images/elements/article-placeholder.jpg") no-repeat center top;
    background-size: cover;
}

.articles-list .caption-container .caption-info, .category-all-listview .caption-container .caption-info {
    position: relative;
    margin-top: 15px;
}

    .articles-list .caption-container .caption-info p.category, .category-all-listview .caption-container .caption-info p.category {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 10px;
        text-align: right;
    }

    .articles-list .caption-container .caption-info p.title, .category-all-listview .caption-container .caption-info p.title {
        font-weight: 200;
        margin-bottom: 5px;
        line-height: normal;
        padding-right: 1rem !important;
    }

        .articles-list .caption-container .caption-info p.title a, .category-all-listview .caption-container .caption-info p.title a {
            color: black;
        }

    .articles-list .caption-container .caption-info p.description, .category-all-listview .caption-container .caption-info p.description {
        font-size: 14px;
        margin-bottom: 5px;
        color: #707070;
    }

    .articles-list .caption-container .caption-info p.post-info, .category-all-listview .caption-container .caption-info p.post-info {
        font-size: 14px;
        color: black;
    }

.articles-list .caption-info p.title {
    font-size: 18px;
}

.articles-list div[class^="col-"] {
    padding-right: 0;
}

.category-all-listview {
    margin-top: 15px !important;
}

    .category-all-listview h3 {
        margin-bottom: 0;
    }

    .category-all-listview .caption-container .caption {
        height: 165px;
    }

        .category-all-listview .caption-container .caption .caption-info {
            height: 55px;
        }

            .category-all-listview .caption-container .caption .caption-info h3.title {
                font-size: 11px;
                color: white;
            }

.categories-container-heading h3 {
    margin-left: 4px;
    margin-top: 8px;
}

.perspectives-article {
    margin: 60px auto;
}

    .perspectives-article .toggle-controls .col-md-6 {
        background: black;
        border-bottom: 1px solid white;
        transition: all 0.3s ease-in-out;
    }

        .perspectives-article .toggle-controls .col-md-6:hover {
            background: #1a1a1a;
            transition: all 0.3s ease-in-out;
        }

        .perspectives-article .toggle-controls .col-md-6:last-of-type {
            border-left: 1px solid white;
        }

        .perspectives-article .toggle-controls .col-md-6 a {
            color: white;
            text-decoration: none;
        }

        .perspectives-article .toggle-controls .col-md-6 .item-toggle {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            height: 70px;
            padding: 0 35px;
        }

            .perspectives-article .toggle-controls .col-md-6 .item-toggle .fa {
                font-size: 24px;
                position: absolute;
                top: 30%;
            }

            .perspectives-article .toggle-controls .col-md-6 .item-toggle .fa-chevron-left {
                left: -1%;
            }

            .perspectives-article .toggle-controls .col-md-6 .item-toggle .fa-chevron-right {
                right: -5%;
            }

            .perspectives-article .toggle-controls .col-md-6 .item-toggle p {
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .perspectives-article .toggle-controls .col-md-6 .item-toggle .margin-right-sm {
                margin-right: 15px;
            }

    .perspectives-article .figure-imgs div.col-md-4:first-of-type {
        padding-right: 5px;
        padding-top: 5px;
    }

    .perspectives-article .content {
        padding-top: 10px;
    }

        .perspectives-article .content p {
            padding-right: 25px;
        }

        .perspectives-article .content .article-tags {
            border-top: 1px solid #808284;
            padding: 15px 0;
        }

            .perspectives-article .content .article-tags ul li {
                margin-right: 5px;
                margin-bottom: 12px;
            }

            .perspectives-article .content .article-tags p.title {
                font-size: 18px;
                color: #000;
            }

            .perspectives-article .content .article-tags .nav-pills {
                margin-bottom: 15px;
            }

                .perspectives-article .content .article-tags .nav-pills > li > a {
                    font-size: 12px;
                    padding: 6px 16px;
                    border: 1px solid black;
                    color: black;
                    cursor: default;
                }

                    .perspectives-article .content .article-tags .nav-pills > li > a:hover {
                        /*background: #cccccc;*/
                        background: transparent;
                        text-decoration: none;
                    }

    .perspectives-article .related-content .slick-next {
        right: -25px;
        z-index: 5000000;
    }

    .perspectives-article .related-content .slick-track {
        margin-left: 0 !important;
    }

    .perspectives-article .slick-next:before, .slick-prev:before {
        font-size: 30px;
    }

    .perspectives-article .slick-prev {
        left: -35px;
    }

    .perspectives-article .related-content {
        /*margin-top: 30px;*/
    }

        .perspectives-article .related-content p.title {
            color: #000;
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        .perspectives-article .related-content p.heading {
            color: #000;
            margin-top: 5px;
            margin-bottom: 15px;
            border-bottom: 1px solid #808284;
            font-size: 18px;
        }

        .perspectives-article .related-content .related-items-container {
            border-top: 1px solid #eee;
            width: 100%;
        }

            .perspectives-article .related-content .related-items-container .categories-container, .perspectives-article .related-content .related-items-container .related-items-container {
                margin-top: 5px;
            }

    .perspectives-article .sidebar form.search-form-sidebar .form-control {
        border-radius: 0;
        text-align: center;
    }

    .perspectives-article .sidebar .perspectives-intro-sidebar {
        margin-bottom: 30px;
    }

        .perspectives-article .sidebar .perspectives-intro-sidebar p {
            font-size: 16px;
        }

        .perspectives-article .sidebar .perspectives-intro-sidebar h3 {
            font-family: 'HelveticaThin', Fallback, sans-serif;
            font-size: 38px;
        }

            .perspectives-article .sidebar .perspectives-intro-sidebar h3 span {
                color: #454545;
            }

    .perspectives-article .sidebar .trending {
        border-top: 1px solid #808284;
    }

        .perspectives-article .sidebar .trending h3 {
            color: black;
            font-size: 24px;
            font-weight: 600;
            margin-top: 40px;
        }

    .perspectives-article .sidebar .list-of-featured-articles .featured-article-container {
        padding: 8px 0 8px;
        border-bottom: 1px solid #808284;
    }

        .perspectives-article .sidebar .list-of-featured-articles .featured-article-container .media img {
            height: 40px;
        }

        .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a {
            text-decoration: none;
        }

            .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a p.category {
                text-transform: uppercase;
                margin-bottom: 5px;
                font-size: 14px;
            }

            .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a .featured-article .article-title p {
                color: grey;
                font-size: 14px;
                margin-bottom: 0;
            }

            .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a .featured-article-with-thumbnail {
                height: 130px;
                position: relative;
            }

                .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a .featured-article-with-thumbnail img.icon-video {
                    position: absolute;
                    top: 20%;
                    left: 35%;
                    width: 20%;
                }

                .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a .featured-article-with-thumbnail .article-title {
                    background: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    top: 66%;
                    width: 100%;
                    padding-left: 10px;
                    height: 45px;
                    padding-top: 5px;
                }

                    .perspectives-article .sidebar .list-of-featured-articles .featured-article-container a .featured-article-with-thumbnail .article-title p {
                        color: white;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

    .perspectives-article .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: 0;
    }

.ekko-lightbox-nav-overlay a {
    font-size: 60px;
}

    .ekko-lightbox-nav-overlay a span {
        padding: 0 30px;
        margin-left: -100px;
    }

    .ekko-lightbox-nav-overlay a:last-child span {
        text-align: right;
        margin-right: -100px;
    }

.amp-02-player {
    -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    animation: -amp-start 8s steps(1, end) 0s 1 normal both;
}

@-webkit-keyframes -amp-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@-moz-keyframes -amp-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@-ms-keyframes -amp-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@-o-keyframes -amp-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes -amp-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.addthis_toolbox, .addthis_share {
    width: 48px;
    padding: 15px 15px;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .addthis_toolbox, .addthis_share {
        position: absolute;
        left: -10%;
    }
}

.addthis_toolbox i, .addthis_share div {
    color: black;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

    .addthis_toolbox i:hover, .addthis_share div:hover {
        color: #1a1a1a;
        transition: all 0.3s ease-in-out;
    }

.addthis_toolbox .fa-pinterest {
    color: black;
}

@media (max-width: 1200px) {
    .addthis_share ul {
        display: flex;
    }
}

@media (min-width: 768px) {
    #subscribeModal .modal-dialog {
        margin: 120px auto;
    }
}

#subscribeModal .modal-dialog .modal-content {
    border-radius: 0;
}

    #subscribeModal .modal-dialog .modal-content h3 {
        margin-top: 0;
    }

    #subscribeModal .modal-dialog .modal-content .modal-header {
        background: url("../images/elements/banner-signup.jpg") no-repeat center top;
        background-size: cover;
        min-height: 250px;
        padding: 5px 20px;
    }

        #subscribeModal .modal-dialog .modal-content .modal-header .close {
            font-size: 45px;
        }

    #subscribeModal .modal-dialog .modal-content .modal-body {
        padding: 20px 15px 30px;
    }

        #subscribeModal .modal-dialog .modal-content .modal-body input {
            border-radius: 0;
        }

        #subscribeModal .modal-dialog .modal-content .modal-body button {
            border-radius: 0;
        }

.categories-view-all {
    margin-top: -35px;
    margin-right: 20px;
}

@media (min-width: 1200px) {
    .sticky-share-wrapper {
        position: fixed;
        top: 18%;
        left: 0;
    }
}

.text-to-speech p span {
    color: black;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid black;
}

    .text-to-speech p span img {
        height: 15px;
        margin-right: 5px;
    }

.text-to-speech span.played {
    background: #363637;
    color: white;
}

.text-to-speech span.paused {
    background: #363637;
    color: white;
}

.text-to-speech span.stopped {
    background: #363637;
    color: white;
}

.showDesktop {
    display: inline-block;
}

.hidden-desktop {
    display: none;
}

.social-share-container, .categories-container .row__inner .tile__details .tile__title, .perspectives-article .related-content .related-items-container .row__inner .tile__details .tile__title, .categories-container .row__inner .tile__details .tile__title, .perspectives-article .related-content .related-items-container .row__inner .tile__details .tile__title, .perspectives-article .related-content .related-items-container .row__inner .tile__details .tile__title {
    display: block;
}

.form-control {
    border-radius: 0;
}

.modal-body {
    padding: 0;
}

.modal-open .modal {
    background: rgba(0, 0, 0, 0.60);
}

.modal-content {
    border: none;
}

a:hover {
    text-decoration: none;
}

@charset "UTF-8";

/* fonts styles */
.full-div {
    float: left;
    width: 100%;
}

.home-readmore {
    color: #FFF;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.home-block {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}

.home-readmore:hover {
    background: #fff;
    color: #000;
}

.about-btn {
    float: right;
    width: 200px;
    border-bottom: 1px solid #000;
    position: relative;
}

.dot-btn {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
}

.about-readmore {
    float: right;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    border-bottom: 0px solid #000;
    display: inline-block;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .about-readmore:hover {
        background: #000;
        color: #fff;
    }

section .content ul li {
    text-align: left;
}

section .content .no-deco {
    text-align: left;
    font-size: 12px;
    font-style: italic;
}

.group-squareline1 {
    width: 100%;
    width: -moz-calc(100% + 5px);
    width: -webkit-calc(100% + 5px);
    width: calc(100% + 5px);
}

.group-squareline2 {
    width: 100%;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin-left: 5px;
}

.group-squareline3 {
    width: 100%;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin-left: -5px;
}

.gray-block-society {
    font-size: 30px;
    line-height: 1;
    background: #acc4c4;
    color: white;
    padding: 30px;
    font-family: 'HelveticaThin', Fallback, sans-serif;
}

.green-block-society-holder img {
    position: absolute;
    right: -55px;
    height: 60px;
    top: -10px;
}

.green-block-society {
    background: #D6E5E9;
    color: #fff;
    text-align: center;
    margin: -2px -15px;
    z-index: 15;
    position: relative;
    padding: 5px;
    font-size: 20px;
}

.footer-home {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header.home .section-features .feature {
    min-height: 100%;
    position: relative;
}

    header.home .section-features .feature a {
        color: white;
    }

        header.home .section-features .feature a:hover {
            color: white;
        }

div.lead > p {
    font-size: 1.10rem;
    font-weight: 300;
}

.investing-ecosystem object.social-investing-ecosystem {
    height: 45vh;
    width: 100%;
}

.investing-ecosystem .footnotes {
    margin-top: 15px;
}

    .investing-ecosystem .footnotes p {
        font-size: 12px;
        margin-bottom: 0;
    }

.investing-ecosystem .footnotes {
    margin-top: 15px;
}

.csi-spend ul.list-asterix li {
    font-style: normal;
    font-size: 10px;
}

.border-right-grey {
    border-right: 1px solid lightgray;
}

.border-bottom-grey {
    border-bottom: 1px solid lightgray;
}

.nav-tabs {
    border-bottom: none;
}

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #495057;
        background-color: #fff;
        border-color: #fff #fff #000 #fff;
        border-radius: 0;
        font-weight: 600;
    }


.border-L {
    border-left: 1px dotted gray !important;
}
/* Media Queries */

@media (min-width: 992px) {
    nav.main-menu #Navbar ul li a:after {
        bottom: 0;
        content: "";
        display: block;
        height: 0.5px;
        left: 0;
        position: absolute;
        background: #262626;
        transition: width 0.50s ease 0s, left ease 0s;
        -webkit-transition: width 0.50s ease 0s, left ease 0s;
        -moz-transition: width 0.50s ease 0s, left ease 0s;
        -ms-transition: width 0.50s ease 0s, left ease 0s;
        -o-transition: width 0.50s ease 0s, left ease 0s;
        width: 0;
    }


    nav.main-menu #Navbar ul li a:hover:after {
        width: 100%;
        left: 0;
    }

    nav.main-menu #Navbar ul li a.active {
        border-bottom: 1px solid black;
    }
}

@media(min-width:798px) {
    .perspectives-categories-intro-sidebar {
        top: 0;
        right: 15%;
        width: 10%;
    }
}

@media (max-width: 992px) {
    nav.main-menu #Navbar form {
        display: block;
        text-align: center;
    }

    nav.main-menu #Navbar ul {
        margin-right: 0;
        margin-left: 0;
        display: block;
    }

        nav.main-menu #Navbar ul li {
            display: block;
            text-align: center;
        }

            nav.main-menu #Navbar ul li a {
                margin-right: 0;
            }

            nav.main-menu #Navbar ul li .dropdown-menu {
                border: none;
                text-align: center;
                margin-bottom: 15px;
            }

            nav.main-menu #Navbar ul li.dropdown::after {
                content: "";
            }

            nav.main-menu #Navbar ul li .dropdown-menu .dropdown-item {
                font-size: 12px;
            }

                nav.main-menu #Navbar ul li .dropdown-menu .dropdown-item::before {
                    content: " - ";
                }
}

@media (max-width: 992px) {
    nav.main-menu #Navbar ul li.none-sm {
        display: none;
    }
}

@media (min-width: 992px) {
    nav.main-menu #Navbar ul li.none-md {
        display: none;
    }
}

@media(max-width:576px) {
    section h1.heading {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    header.home .section-features {
        margin-left: 3em;
        margin-right: 3em;
    }
}

header.home .section-features .feature {
    padding-right: 15px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    header.home .section-features .feature {
        border-right: 1px solid white;
    }


    header.home .section-features .no-border {
        border: none;
    }

    .perspectives-intro-sidebar {
        display: none;
    }
}

@media (min-width: 992px) {
    .searchOverlay .search-form input {
        width: 800px;
    }
}

.search-icon {
    visibility: hidden;
}

footer.footer {
    margin-top: 0;
}

@media (max-width: 1200px) {
    header.home .section-features .feature h2 {
        font-size: 40px;
    }
}

header.home .section-features .feature p {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    header.home .section-features .feature {
        min-height: 185px;
    }
}

@media(min-width:992px) {
    .perspectives-categories-intro-sidebar {
        position: absolute;
        top: 10px;
        right: 0;
        width: 24%;
    }
}

@media(max-width:992px) {
    .bee-credentials .img-scorecard {
        display: none;
    }
}

@media(max-width:798px) {
    .perspectives-categories-intro-sidebar {
        top: 10px;
        right: 0;
        width: 24%;
    }
}

@media(min-width:576px) {
    .perspectives-categories-intro-sidebar {
        position: absolute;
        top: 10px;
        right: 14%;
        width: 26%;
    }
}

@media(max-width:768px) {
    .bee-credentials .img-scorecard {
        display: none;
    }
}

@media(max-width:576px) {
    .perspectives-categories-intro-sidebar {
        position: absolute;
        top: 19px;
        right: 6%;
        width: 40%;
    }

    .bee-credentials .img-scorecard {
        display: none;
    }

    .bee-credentials .card {
        padding: 1.2rem;
    }
}

@media (max-width: 992px) {
    .nav-sidebar .sidebar-sticky {
        display: none;
    }

    .assets .conversion-rates:before {
        display: none;
    }
}

.score-card h4.card-title {
    font-family: "HelveticaLight", Fallback, sans-serif;
}

@media (min-width: 1200px) {
    .bee-credentials .card .card-body {
        min-height: 230px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .bee-credentials .card .card-body {
        min-height: 400px;
    }
}

.bee-credentials .scorecard {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    background: transparent;
}

@media (min-width: 1200px) {
    .bee-credentials .scorecard {
        min-height: 315px;
    }

    .bee-credentials .img-scorecard {
        position: absolute;
        top: -15px;
        right: -50px;
        z-index: 1;
        height: 25em;
        width: 23em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .bee-credentials .img-scorecard {
        position: absolute;
        top: -15px;
        right: -50px;
        z-index: 1;
        height: 25em;
        width: 23em;
    }
}


@media print {
    *, :after, :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h3 {
        orphans: 3;
        widows: 3;
    }

    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 992px) {
    .pfs-paragraph-white {
        margin: 5px 0 2px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .pfs-paragraph-white {
        /*min-height: 70px;*/
    }
}

@media(max-width:576px) {
    .assets .conversion-rates {
        position: static;
    }

    .operational-statistics {
        margin-top: 30px;
    }

    .assets .conversion-rates:after {
        display: none;
    }

    .green-block-society {
        display: none;
    }

    .green-block-society-holder {
        display: none;
    }
}


@media(max-width:768px) {
    .assets .conversion-rates {
        position: static;
    }

        .assets .conversion-rates:before {
            display: none;
        }

        .assets .conversion-rates:after {
            display: none;
        }

    .operational-statistics .block {
        margin-left: 20%;
    }

    .governance .enquire-box {
        position: static;
        padding-top: 20px;
    }

    .important-dates .border-right-dotted {
        border: none;
    }

    .simplified-legal-structure #BanksImageRedo .infoBlockHeight {
        min-height: 151px;
    }
}

@media(max-width:992px) {
    .assets .conversion-rates {
        position: static;
        width: 100%;
    }

        .assets .conversion-rates:before {
            display: none;
        }

        .assets .conversion-rates:after {
            display: none;
        }

    .operational-statistics .block {
        margin-left: 20%;
    }

    .important-dates .border-right-dotted {
        border: none;
    }
}

@media (min-width: 576px) {
    section h2, section h4 section h5 {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    section h1.heading section h2, section h4 section h5 {
        font-size: 50px;
    }
}

@media(max-width:1100px) {
    .empowerment-foundation .foundation-trustees {
        position: static;
        height: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 1200px) {
    .governance .enquire-box {
        position: static;
    }
}
