﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

@{
    var categories =
        Umbraco.TypedContent(2063)
        .Children()
        .Where(x => x.IsVisible()).OrderBy("name");

    var selection =
        Umbraco.TypedContent(1072)
        .Children()
        .Where(x => x.IsVisible() && x.GetPropertyValue<DateTime>("publishDate") <= DateTime.Now)
        .OrderBy("createDate desc").OrderBy("updateDate desc").OrderBy("publishDate desc");
    int i = 0;
}

@foreach (var category in categories)
{
    i++;
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <div class="content">
                    <div class="articles-list">
                        <!-- Articles -->
                       <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/wanting-to-work.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Wanting to work – the story of South Africa’s labour market since 1994
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/moral-money.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Moral money series part 1: introduction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../video.html">
                                        <div class="caption article-w-video"
                                             style="background: url('../../images/articles/related-articles03.png') no-repeat top left; background-size: cover;">
                                            <img src="../../images/elements/icon-video.png" alt=""
                                                 class="icon-video">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                The reason why service delivery successes in South Africa don’t always translate into community satisfaction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/the-anger-series.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                World Tapestry - Photos from around the world
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../video.html">
                                        <div class="caption article-w-video"
                                             style="background: url('../../images/articles/The-reason-why-service.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Is there scientific evidence to support using mindfulness meditation to treat depression?
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/related-articles02.png')
                                             no-repeat top left; background-size: cover;">
                                            <img src="../../images/elements/icon-video.png" alt=""
                                                 class="icon-video">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Why knowing more can feel like you know less
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/blank.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Nicknames
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/related-articles01.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Dirty John podcast review
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/moral-money.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Moral money series part 1: introduction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/blank.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                World Tapestry - Photos from around the world
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../video.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/related-articles03.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                The reason why service delivery successes in South Africa don’t always translate into community satisfaction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/wanting-to-work.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Wanting to work – the story of South Africa’s labour market since 1994
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/wanting-to-work.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Wanting to work – the story of South Africa’s labour market since 1994
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/moral-money.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Moral money series part 1: introduction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../video.html">
                                        <div class="caption "
                                             style="background: url('../../images/articles/related-articles03.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                The reason why service delivery successes in South Africa don’t always translate into community satisfaction
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/the-anger-series.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                World Tapestry - Photos from around the world
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../video.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/The-reason-why-service.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Is there scientific evidence to support using mindfulness meditation to treat depression?
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/related-articles02.png')
                                             no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Why knowing more can feel like you know less
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/blank.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Nicknames
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                                <div class="caption-container">
                                    <a href="../article.html">
                                        <div class="caption"
                                             style="background: url('../../images/articles/related-articles01.png') no-repeat top left; background-size: cover;">
                                            <div class="caption-info"></div>
                                        </div>
                                    </a>
                                    <div class="caption-info">
                                        <p class="title">
                                            <a href="#" class="">
                                                Dirty John podcast review
                                            </a>
                                        </p>
                                        <p class="description">
                                            At risk of significantly over-simplifying the field software
                                            development is achieved
                                            by articulating <a href="#"> Read more</a>
                                        </p>

                                        <p class="post-info">
                                            02.2019 | Jane Doe
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>\
                        <!-- Pagination -->
                        <div class="">
                            <nav aria-label="Bottom page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="perspectives-categories-intro-sidebar">
        <div class="sidebar">
            <div class="search-bar">
                <form class="search-form-sidebar">
                    <div class="form-group">
                        <input type="email" class="form-control" id="searchFormSidebar"
                               aria-describedby="searchForm" placeholder="Search Articles">
                    </div>
                </form>
            </div>
            <div class="perspectives-intro-sidebar">
                <h3>
                    <span>FirstRand</span> <br> perspectives
                </h3>
                <p>
                    The group thrives on <strong>innovation</strong> and encourages
                    <strong>original thinking. Perspectives</strong>
                    is a portal to content we have specifically commissioned to explore <strong>
                        new ideas
                        and unique concepts.
                    </strong>
                </p>
            </div>
        </div>
    </div>
}