﻿<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/umbraco/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <title ng-bind="$root.locationTitle">Firstrand CMS</title>
    <link href="/umbraco/assets/css/umbraco.css?cdv=307308966" type="text/css" rel="stylesheet" />
    <link href="/umbraco_client/tree/treeicons.css?cdv=307308966" type="text/css" rel="stylesheet" />
    <link href="/umbraco/lib/bootstrap-social/bootstrap-social.css?cdv=307308966" type="text/css" rel="stylesheet" />
    <link href="/umbraco/lib/font-awesome/css/font-awesome.min.css?cdv=307308966" type="text/css" rel="stylesheet" />

</head>
<noscript><h5><strong>&nbsp; JavaScript is disabled. Please enable to continue!</strong></h5></noscript>
<body ng-class="{touch:touchDevice,emptySection:emptySection}" ng-controller="Umbraco.MainController" id="umbracoMainPageBody">
    <div ng-hide="!authenticated" ng-cloak id="mainwrapper" class="clearfix" ng-click="closeDialogs($event)">

        <umb-navigation></umb-navigation>

        <section id="contentwrapper">
            <div id="contentcolumn" ng-view>
            </div>
        </section>

        <umb-notifications></umb-notifications>

    </div>

    <script type="text/javascript">
                var Umbraco = {};
                Umbraco.Sys = {};
                Umbraco.Sys.ServerVariables = {
                    "umbracoUrls": {
                        "authenticationApiBaseUrl": "/umbraco/backoffice/UmbracoApi/Authentication/",
                        "serverVarsJs": "/umbraco/ServerVariables?umb__rnd=584e6cbeb48014e12cd7d6f6da33e760",
                        "externalLoginsUrl": "/umbraco/ExternalLogin"
                    },
                    "umbracoSettings": {
                        "allowPasswordReset": true,
                        "loginBackgroundImage": "assets/img/installer.jpg"
                    },
                    "application": {
                        "applicationPath": "/",
                        "cacheBuster": "ee2801d688d021cf3b2461f7106a3602"
                    },
                    "isDebuggingEnabled" : true
                };
    </script>

    <script type="text/javascript">
        document.angularReady = function(app) {


var errors = [];
            app.value("externalLoginInfo", {
            errors: errors,
            providers: []
            });

var errors = [];
            app.value("resetPasswordCodeInfo", {
            errors: errors,
            resetCodeModel: null
            });
        }
    </script>
    <script type="text/javascript" src="lib/rgrove-lazyload/lazyload.js"></script>
    <script type="text/javascript" src="/umbraco/Application?umb__rnd=ca42407d074c87f980b9230f6a9d4dfe"></script>
    <umb-overlay ng-if="ysodOverlay.show"
                 model="ysodOverlay"
                 position="right"
                 view="ysodOverlay.view">
    </umb-overlay>
</body>
</html>
