﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers
@using Firstrand.Models

@*// This template holds all /perspectives sectionS layouts in colab with /Perspectives.cshtml  *@

@{
    Layout = null;

    Html.RenderAction("RenderTop", "SiteLayout");
}

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg main-menu fixed-top navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="logo" src="~/images/logos/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
                aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/the-group/about-firstrand">The group</a>
                </li>
                <li class="nav-item dropdown none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="groupDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        The Group
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupDropdown">
                        <a class="dropdown-item" href="#">About FirstRand</a>
                        <a class="dropdown-item" href="#">Portfolio of operating businesses</a>
                        <a class="dropdown-item" href="#">Ownership and simplified legal structure</a>
                        <a class="dropdown-item" href="#">Management and board</a>
                        <a class="dropdown-item" href="#">Regional presence and operations in other markets</a>
                        <a class="dropdown-item" href="#">BEE credentials</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/investors/investor-information">Investors</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="investorsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Investors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="investorsDropdown">
                        <a class="dropdown-item" href="#">Investor information</a>
                        <a class="dropdown-item" href="#">Financial results</a>
                        <a class="dropdown-item" href="#">Integrated reporting</a>
                        <a class="dropdown-item" href="#">SENS</a>
                        <a class="dropdown-item" href="#">Governance</a>
                        <a class="dropdown-item" href="#">Debt programmes</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/society/social-investing">Society</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="societyDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Society
                    </a>
                    <div class="dropdown-menu" aria-labelledby="societyDropdown">
                        <a class="dropdown-item" href="#">Social investing</a>
                        <a class="dropdown-item" href="#">Foundations</a>
                        <a class="dropdown-item" href="#">firstrand foundation</a>
                        <a class="dropdown-item" href="#">firstrand empowerment foundation</a>
                        <a class="dropdown-item" href="#">monitoring and evaluation</a>
                        <a class="dropdown-item" href="#">Scholarships</a>
                        <a class="dropdown-item" href="#">Firstrand volunteers</a>
                        <a class="dropdown-item" href="#">Beyond painting classrooms</a>
                        <a class="dropdown-item" href="#">Reports</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/perspectives/">Perspectives</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="text-muted" href="#" id="searchToggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
            </form>
        </div>
    </div>
</nav>
<!-- /Navigation -->

@{
    var Banner = Model.Content.GetPropertyValue<IPublishedContent>("banner");
    var BannerParent = Model.Content.Parent.GetPropertyValue<IPublishedContent>("banner");
    if (CurrentPage.DocumentTypeAlias != "article")
    {
        if (Model.Content.GetPropertyValue<IPublishedContent>("banner") != null)
        {
            <header class="jumbotron">
                <img src="@{ if (Banner != null) {@Banner.Url} else if (BannerParent != null) {@BannerParent.Url}}" class="banner">
            </header>
        }
        else if (BannerParent != null)
        {
            <header class="jumbotron">
                <img src="@{ if (BannerParent != null) {@BannerParent.Url}}" class="banner">
            </header>
        }
        else
        {
            <header class="jumbotron">
                <img src="~/images/banners/perspectives.jpg" class="banner">
            </header>
        }
    }
}

<!-- Page content -->
<section class="page-content">
    <!-- Sidebar -->
    <div class="nav-sidebar">
        <div class="sidebar-sticky @{if (CurrentPage.DocumentTypeAlias == "article") { @("sidebar-perspectives")} else {@(null)} }">
            <h4>Categories</h4>
            <ul class="list-group list-unstyled" id="sidenav">
                <li>
                    <a href="~/perspectives/" class="list-group-item list-group-item-action">
                        All
                    </a>
                </li>
                @{
                    var categories = Model.Content.Site().FirstChild("mainCategory").Children().Where(x => x.IsVisible());
                    var t = 0;
                    foreach (var category in categories.Where("Visible"))
                    {
                        t++;

                        <li>
                            <a href="@category.Url" class="list-group-item list-group-item-action">
                                @category.Name
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <!-- /Sidebar -->
    <div class="container">
        @{if (CurrentPage.DocumentTypeAlias != "article")
            {
                <div class="row">
                    <div class="col-xl-10 col-lg-9 col-md-9 mx-auto">
                        <h1 class="heading">
                            <span>
                                @{ if (CurrentPage.HasValue("title"))
                                    {
                                        @Umbraco.Field("title")
                                    }
                                    else
                                    {
                                        @CurrentPage.Name
                                    }
                                }
                            </span>
                        </h1>
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="lead">
                                    @{ if (CurrentPage.HasValue("lead"))
                                        {
                                            @Html.Raw(@Umbraco.Field("lead"))
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="@{if (CurrentPage.DocumentTypeAlias == "article") { @("col-xl-12 col-lg-9 col-md-12")} else {@("col-xl-10 col-lg-9 col-md-10 ")} } mx-auto">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}