﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers
@using Firstrand.Models

@*// This template holds all the standard pages that are NOT in the /perspectives section  *@

@{
    Layout = null;
    //documenttype aliases
    var documentTypeTheGroup = 1650;
    var documentTypeInvestors = 1534;
    var documentyTypeSociety = 1279;
    var documentyTypeMonitoringEvaluation = 1623;
    var thought_leadership = 1285;
    var management_board = 2020;
    var active = "active";
}

@{Html.RenderAction("RenderTop", "SiteLayout");}

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg main-menu fixed-top navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="logo" src="~/images/logos/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
                aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item none-sm">
                    <a class="nav-link @{if (CurrentPage.DocumentTypeId == documentTypeTheGroup | CurrentPage.DocumentTypeId == management_board) { @active}}" href="~/the-group/about-firstrand">The group</a>
                </li>
                <li class="nav-item dropdown none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="groupDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        The Group
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupDropdown">
                        <a class="dropdown-item" href="#">About FirstRand</a>
                        <a class="dropdown-item" href="#">Portfolio of operating businesses</a>
                        <a class="dropdown-item" href="#">Ownership and simplified legal structure</a>
                        <a class="dropdown-item" href="#">Management and board</a>
                        <a class="dropdown-item" href="#">Regional presence and operations in other markets</a>
                        <a class="dropdown-item" href="#">BEE credentials</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link @{if (CurrentPage.DocumentTypeId == documentTypeInvestors | CurrentPage.TemplateId == 1518) { @active } }" href="~/investors/investor-information">Investors</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="investorsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Investors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="investorsDropdown">
                        <a class="dropdown-item" href="#">Investor information</a>
                        <a class="dropdown-item" href="#">Financial results</a>
                        <a class="dropdown-item" href="#">Integrated reporting</a>
                        <a class="dropdown-item" href="#">SENS</a>
                        <a class="dropdown-item" href="#">Governance</a>
                        <a class="dropdown-item" href="#">Debt programmes</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link @{ if(CurrentPage.DocumentTypeId == documentyTypeSociety | CurrentPage.DocumentTypeId == documentyTypeMonitoringEvaluation | CurrentPage.DocumentTypeId == thought_leadership){ @active }}" href="~/society/social-investing">Society</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="societyDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Society
                    </a>
                    <div class="dropdown-menu" aria-labelledby="societyDropdown">
                        <a class="dropdown-item" href="#">Social investing</a>
                        <a class="dropdown-item" href="#">Foundations</a>
                        <a class="dropdown-item" href="#">firstrand foundation</a>
                        <a class="dropdown-item" href="#">firstrand empowerment foundation</a>
                        <a class="dropdown-item" href="#">monitoring and evaluation</a>
                        <a class="dropdown-item" href="#">Scholarships</a>
                        <a class="dropdown-item" href="#">Firstrand volunteers</a>
                        <a class="dropdown-item" href="#">Beyond painting classrooms</a>
                        <a class="dropdown-item" href="#">Reports</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perspectives/">Perspectives</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="text-muted" href="#" id="searchToggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
            </form>
        </div>
    </div>
</nav>
<!-- /Navigation -->

<div class="searchOverlay" id="searchOverlay">
    <a class="navbar-brand" href="~/index.html"><img class="logo logo-inverse" src="~/images/logos/logo-inverse.png"> </a>
    <button type="button" class="close" aria-label="Close" id="closeSearch">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex h-100">
        <div class="row my-auto mx-auto my-auto">
            <div class="col-12">
                <div class="input-group">
                    <form class="search-form" action="~/search/" method="GET">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control form-control-lg" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-light btn-lg" type="submit">
                                    <span aria-hidden="true"><i class="fa fa-search"></i></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Navigation -->

@{
    var Banner = Model.Content.GetPropertyValue<IPublishedContent>("banner");
    var BannerParent = Model.Content.Parent.GetPropertyValue<IPublishedContent>("banner");

    if (Model.Content.GetPropertyValue<IPublishedContent>("banner") != null)
    {
        <header class="jumbotron">
            <img src="@{ if (Banner != null) {@Banner.Url} else if (BannerParent != null) {@BannerParent.Url}}" class="banner">
        </header>
    }
    else if (BannerParent != null)
    {
        <header class="jumbotron">
            <img src="@{ if (BannerParent != null) {@BannerParent.Url}}" class="banner">
        </header>
    }
    else
    {
        <header class="jumbotron">
            <img src="~/images/banners/perspectives.jpg" class="banner">
        </header>
    }
}

<!-- Page content -->
<section class="page-content">
    <!-- Sidebar -->
    <div class="nav-sidebar">
        @{
            if (CurrentPage.DocumentTypeId == documentTypeTheGroup | CurrentPage.DocumentTypeId == management_board)
            {
                <div class="sidebar-sticky">
                    <h4>
                        The Group
                    </h4>
                    <ul class="list-group list-unstyled" id="sidenav">
                        @{
                            var group = Model.Content.Site().FirstChild("theGroup").Children().Where(x => x.IsVisible());
                            var t = 0;
                            foreach (var page in group.Where("Visible"))
                            {
                                t++;
                                if (!page.Children().Any())
                                {
                                    <li>
                                        <a href="@page.Url" class="list-group-item list-group-item-action">
                                            @page.Name
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@page.Url" class="list-group-item list-group-item-action">
                                            @page.Name
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            }
            else if (CurrentPage.DocumentTypeId == documentTypeInvestors | CurrentPage.TemplateId == 1518)
            {
                <div class="sidebar-sticky">
                    <h4>
                        Investors
                    </h4>
                    <ul class="list-group list-unstyled" id="sidenav">
                        @*@{
                                var investors = Model.Content.Site().FirstChild("investorsMaster").Children().Where(x => x.IsVisible());
                                var t = 0;
                                foreach (var page in investors.Where("Visible"))
                                {
                                    t++;
                                    if (!page.Children().Any())
                                    {
                                        <li>
                                            <a href="@page.Url" class="list-group-item list-group-item-action">
                                                @page.Name
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@page.Url" class="list-group-item list-group-item-action">
                                                @page.Name
                                            </a>
                                        </li>
                                        <ul class="list-unstyled sub-list">
                                            @foreach (var child in page.Children().Where("Visible"))
                                            {
                                                <li>
                                                    <a href="@child.Url" class="list-group-item list-group-item-action">
                                                        @child.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            }*@
                        <ul class="list-group list-unstyled" id="sidenav">
                            <li>
                                <a href="~/investors/investor-information/" class="list-group-item list-group-item-action">
                                    Investor information
                                </a>
                            </li>

                            <li>
                                <a href="~/investors/financials/" class="list-group-item list-group-item-action">
                                    Financials
                                </a>
                            </li>
                            <li>
                                <a href="~/investors/integrated-reports/" class="list-group-item list-group-item-action">
                                    Integrated reports
                                </a>
                            </li>
                            <li>
                                <a href="~/investors/sens/" class="list-group-item list-group-item-action">
                                    SENS
                                </a>
                            </li>
                            <li>
                                <a href="~/investors/governance/governance-and-compliance/" class="list-group-item list-group-item-action">
                                    Governance
                                </a>
                            </li>

                            <li>
                                <a href="~/investors/debt-programmes/debt-programmes/" class="list-group-item list-group-item-action">
                                    Debt programmes
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
            }
            else if (CurrentPage.DocumentTypeId == documentyTypeSociety | CurrentPage.DocumentTypeId == documentyTypeMonitoringEvaluation | CurrentPage.DocumentTypeId == thought_leadership)
            {
                <div class="sidebar-sticky">
                    <h4>
                        Society
                    </h4>
                    <ul class="list-group list-unstyled" id="sidenav">
                        @*@{
                                var investors = Model.Content.Site().FirstChild("society").Children().Where(x => x.IsVisible());
                                var t = 0;
                                foreach (var page in investors.Where("Visible"))
                                {
                                    t++;
                                    if (!page.Children().Any())
                                    {
                                        <li>
                                            <a href="@page.Url" class="list-group-item list-group-item-action">
                                                @page.Name
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@page.Url" class="list-group-item list-group-item-action">
                                                @page.Name
                                            </a>
                                        </li>
                                        <ul class="list-unstyled sub-list">
                                            @foreach (var child in page.Children().Where("Visible"))
                                            {
                                                <li>
                                                    <a href="@child.Url/" class="list-group-item list-group-item-action">
                                                        @child.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            }*@
                        <ul class="list-group list-unstyled" id="sidenav">
                            <li>
                                <a href="~/society/social-investing/social-investing/" class="list-group-item list-group-item-action">
                                    Social investing
                                </a>
                            </li>
                            <li>
                                <a href="~/society/foundations/" class="list-group-item list-group-item-action">
                                    Foundations
                                </a>
                            </li>
                            <ul class="list-unstyled sub-list">
                                <li>
                                    <a href="~/society/foundations/firstrand-foundation//" class="list-group-item list-group-item-action">
                                        FirstRand Foundation
                                    </a>
                                </li>
                                <li>
                                    <a href="~/society/foundations/firstrand-empowerment-fund//" class="list-group-item list-group-item-action">
                                        FirstRand Empowerment Fund
                                    </a>
                                </li>
                                <li>
                                    <a href="~/society/foundations/knowledge-sharing//" class="list-group-item list-group-item-action">
                                        Knowledge sharing
                                    </a>
                                </li>
                                <li>
                                    <a href="~/society/foundations/staff-assistance-trust//" class="list-group-item list-group-item-action">
                                        Staff Assistance Trust
                                    </a>
                                </li>
                            </ul>
                            <li>
                                <a href="~/society/scholarships/" class="list-group-item list-group-item-action">
                                    Scholarships
                                </a>
                            </li>
                            <li>
                                <a href="~/society/firstrand-volunteers/" class="list-group-item list-group-item-action">
                                    Firstrand Volunteers
                                </a>
                            </li>

                            <li>
                                <a href="~/society/thought-leadership-in-csi/" class="list-group-item list-group-item-action">
                                    Thought leadership in CSI
                                </a>
                            </li>

                        </ul>
                    </ul>
                </div>
            }
        }
    </div>
    <!-- /Sidebar -->
    @{
        var simplified_legal_structure = Umbraco.Content(1653);
        var regional_presence_and_operations = Umbraco.Content(1655);
    }
    <div class="@(CurrentPage.IsEqual(regional_presence_and_operations)  ? "container-fluid" : "container")">
        <!-- /Heading section -->
        <div class="row section-heading">
            <div class="@(CurrentPage.IsEqual(simplified_legal_structure)  ? "col-lg-10" : "col-lg-8") col-md-10 mx-auto">
                <h1 class="heading">
                    @{ if (CurrentPage.HasValue("title"))
                        {
                            @Umbraco.Field("title")
                        }
                        else
                        {
                            @CurrentPage.Name
                        }
                    }
                </h1>
                <div class="lead">
                    @{ if (CurrentPage.HasValue("lead"))
                        {
                            @CurrentPage.GetPropertyValue("lead")
                        }
                    }
                </div>
            </div>
        </div>
        <!-- /Content section -->
        <div class="row">
            <div class="mx-auto @(CurrentPage.IsEqual(simplified_legal_structure)  ? "col-lg-10" : "col-lg-8")">
                <div class="content">
                    @*Code Snippet above content*@
                    @{ if (CurrentPage.HasValue("codeSnippetTop"))
                        {@Html.Raw(CurrentPage.GetPropertyValue("codeSnippetTop"))}}
                    @*Renderbody*@
                    @RenderBody()
                    @*Code Snippet below content*@
                    @{ if (CurrentPage.HasValue("codeSnippetBottom"))
                        {@Html.Raw(CurrentPage.GetPropertyValue("codeSnippetBottom"))}}
                </div>
            </div>
        </div>
    </div>
</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}