﻿<div ng-controller="boardMembersController as vm"
     ng-if="items"
     class="my-songs-layout__cards">

    <div class="my-songs-layout__card"
         ng-repeat="item in items"
         ng-class="{'-selected':item.selected}">

        <div class="my-songs-layout__overlay">
            <div class="my-songs-layout__artist">{{ item.name }}</div>
            <div class="my-songs-layout__genre">{{ item.category }} </div>
            <div class="my-songs-layout__released">{{ item.updateDate }}</div>
            <div class="my-songs-layout__released">{{ item.createDate }}</div>
        </div>
    </div>
</div>