﻿<h4>Welcome to the admin panel</h4>

<p>Other frontend pages have been disabled as the CMS is still in development</p>

<p>Please see below for all available pages for demo purposes</p>

<p><strong>Pages available:</strong></p> <br />


<p><strong>Social Investing</strong></p>
<ul>
    <li><a href="/society/social-investing/">Social investing</a></li>
</ul>
<p><strong>Beyond painting classrooms<br></strong></p>
<ul>
    <li><a href="/society/beyond-painting-classrooms/">About beyond painting classrooms</a></li>
    <li><a href="/society/beyond-painting-classrooms/2017-conference/">2017 Conference</a></li>
    <li><a href="/society/beyond-painting-classrooms/workshops/reports/">Workshop reports</a></li>
    <li><a href="/society/beyond-painting-classrooms/workshops/presentations/">Workshop presentations</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/about-the-awards/">About the awards</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/categories-and-criteria/">Categories and criteria</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/terms-and-conditions/">Terms and conditions</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/who-should-apply/">Who should apply</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/judges/">Judges</a></li>
    <li><a href="/society/beyond-painting-classrooms/awards/entry-form/">Entry form</a></li>
    <li><a href="/society/beyond-painting-classrooms/in-the-news/">In the news</a></li>
</ul>
<p><strong>Perspectives<br></strong></p>
<ul>
    <li><a href="/perspectives/">Perspectives</a></li>
    <li><a href="/perspectives/legends-at-lunch/">Legends at lunch</a></li>
    <li><a href="/perspectives/wanting-to-work/">Wanting to work</a></li>
    <li><a href="/perspectives/why-tv-is-more-violent-now-than-ever-before/">Why TV is more violent now than ever before</a></li>
    <li><a href="/perspectives/millenials-and-luxury-goods/">Millenials and luxury goods</a></li>
    <li><a href="/perspectives/lunch-with-legend-tito-mboweni/">Lunch with legend Tito Mboweni</a></li>
    <li><a href="/perspectives/the-ethical-sources-of-terrorist-power/">The Ethical Sources of Terrorist Power</a></li>
    <li><a href="/perspectives/have-you-floated-before-money-for-nothing/">Have you floated before?</a></li>
    <li><a href="/perspectives/faith-and-finance-around-the-world/">Faith and fiance around the world</a></li>
</ul>
<p>&nbsp;</p>