﻿<div class="investing-ecosystem">
    <h5>
        <strong>
            The FirstRand social investing ecosystem:
        </strong>
    </h5>
    <object data="" type="" class="social-investing-ecosystem">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 833.71 711.13">
            <defs>
                <style>
                    .cls-1 {
                        fill: #d5e4e8;
                    }

                    .cls-2 {
                        font-size: 17.13px;
                    }

                    .cls-2, .cls-20, .cls-30, .cls-6 {
                        fill: #231f20;
                    }

                    .cls-3 {
                        fill: #e2ede4;
                    }

                    .cls-4 {
                        letter-spacing: -0.09em;
                    }

                    .cls-5 {
                        fill: #d9d6e6;
                    }

                    .cls-6 {
                        font-size: 23.2px;
                    }

                    .cls-7 {
                        letter-spacing: 0;
                    }

                    .cls-8 {
                        letter-spacing: 0;
                    }

                    .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-18, .cls-19, .cls-9 {
                        fill: none;
                        stroke: #231f20;
                    }

                    .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16 {
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }

                    .cls-10 {
                        stroke-dasharray: 0 1.91;
                    }

                    .cls-11 {
                        stroke-dasharray: 0 2;
                    }

                    .cls-12 {
                        stroke-dasharray: 0 1.92;
                    }

                    .cls-14 {
                        stroke-dasharray: 0 2.07;
                    }

                    .cls-15 {
                        stroke-dasharray: 0 2.01;
                    }

                    .cls-16 {
                        stroke-dasharray: 0 2;
                    }

                    .cls-17 {
                        fill: #d0cddf;
                    }

                    .cls-18, .cls-19 {
                        stroke-miterlimit: 10;
                    }

                    .cls-19 {
                        stroke-width: 0.3px;
                    }

                    .cls-20, .cls-30 {
                        font-size: 14.68px;
                    }

                    .cls-21 {
                        letter-spacing: -0.11em;
                    }

                    .cls-22 {
                        letter-spacing: 0.00em;
                    }

                    .cls-23, .cls-30 {
                        letter-spacing: -0.09em;
                    }

                    .cls-24 {
                        letter-spacing: 0.00em;
                    }

                    .cls-25 {
                        letter-spacing: 0em;
                    }

                    .cls-26 {
                        letter-spacing: 0.00em;
                    }

                    .cls-27 {
                        letter-spacing: -0.05em;
                    }

                    .cls-28 {
                        letter-spacing: 0.00em;
                    }

                    .cls-29 {
                        letter-spacing: 0em;
                    }
                </style>
            </defs>
            <title>The FirstRand-social-investing-ecosystem</title>
            <rect class="cls-1" x="181.08" y="180.2" width="152.94" height="96.66" />
            <text class="cls-2" transform="translate(198.21 216.29)">
                FirstRand
                <tspan x="0" y="20.56">Foundation</tspan>
            </text>
            <rect class="cls-1" x="201.88" y="313.57" width="130.92" height="101.55" />
            <text class="cls-2" transform="translate(219.01 341.09)">
                FNB Fund
                <tspan x="0" y="20.56">RMB Fund</tspan>
                <tspan x="0" y="41.11">WestBank</tspan>
                <tspan x="0" y="61.67">Fund</tspan>
            </text>
            <text class="cls-2" transform="translate(298.64 341.09)"></text>
            <rect class="cls-3" x="340.14" y="180.2" width="155.39" height="96.66" />
            <text class="cls-2" transform="translate(357.27 215.07)">
                FirstRand
                <tspan x="0" y="20.56">Empowerment</tspan>
                <tspan x="0" y="41.11">Foundation</tspan>
            </text>
            <rect class="cls-3" x="364.61" y="313.57" width="128.47" height="117.46" />
            <text class="cls-2" transform="translate(381.74 339.26)">
                Kagiso
                <tspan class="cls-4" x="55.21" y="0">T</tspan>
                <tspan x="63.17" y="0">rust</tspan>
                <tspan x="0" y="20.56">WDB Trust</tspan>
                <tspan x="0" y="41.11">Mining</tspan>
                <tspan x="0" y="61.67">Investment</tspan>
                <tspan x="0" y="82.22" xml:space="preserve">Company   </tspan>
            </text>
            <text class="cls-2" transform="translate(435.03 378.42)"></text>
            <rect class="cls-5" x="501.64" y="181.43" width="155.39" height="96.66" />
            <text class="cls-2" transform="translate(518.77 215.07)">
                FirstRand
                <tspan x="0" y="20.56">Assistance</tspan>
                <tspan x="0" y="41.11">Trust</tspan>
            </text>
            <text class="cls-6" transform="translate(220 19.26)">
                FNB,RMB,
                <tspan class="cls-7" x="107.44" y="0">W</tspan>
                <tspan class="cls-8" x="128.06" y="0">esBank,</tspan>
                <tspan x="-6.44" y="27.84">Aldermore, Direct Axis</tspan>
                <tspan x="30.74" y="55.68">and Ashburton</tspan>
                <tspan x="50.09" y="83.52">Investment</tspan>
            </text>
            <text class="cls-2" transform="translate(681.5 215.07)">
                FirstRand
                <tspan x="0" y="20.56">Social Investing</tspan>
                <tspan x="0" y="41.11">Unit</tspan>
            </text>
            <rect class="cls-9" x="663.76" y="181.43" width="169.46" height="96.66" />
            <text class="cls-2" transform="translate(681.5 339.26)">
                FirstRand
                <tspan x="0" y="20.56">Volunteers targeted</tspan>
                <tspan x="0" y="41.11">scholarship</tspan>
                <tspan x="0" y="61.67">programmes</tspan>
            </text>
            <rect class="cls-9" x="663.76" y="314.18" width="169.46" height="96.66" />
            <line class="cls-10" x1="255.71" y1="172.97" x2="255.72" y2="150.78" />
            <line class="cls-11" x1="258.16" y1="149.61" x2="735.97" y2="149.61" />
            <line class="cls-12" x1="737.24" y1="151.96" x2="737.75" y2="176.58" />
            <path class="cls-13" d="M901.78,197.12h0M901.19,169h0m-481.47,0h0m0,25.69h0"
                  transform="translate(-164 -19.37)" />
            <line class="cls-14" x1="325.45" y1="114.21" x2="325.45" y2="148.35" />
            <path class="cls-13" d="M489.45,169h0m0-37.93h0" transform="translate(-164 -19.37)" />
            <line class="cls-15" x1="576.89" y1="281.76" x2="576.89" y2="476.9" />
            <path class="cls-13" d="M740.89,497.49h0m0-198.82h0" transform="translate(-164 -19.37)" />
            <line class="cls-15" x1="350.54" y1="281.76" x2="350.54" y2="476.9" />
            <path class="cls-13" d="M514.54,497.49h0m0-198.82h0" transform="translate(-164 -19.37)" />
            <line class="cls-15" x1="189.03" y1="281.76" x2="189.03" y2="476.9" />
            <path class="cls-13" d="M353,497.49h0m0-198.82h0" transform="translate(-164 -19.37)" />
            <line class="cls-16" x1="416.61" y1="281.75" x2="416.61" y2="312.34" />
            <path class="cls-13" d="M580.61,332.93h0m0-34.26h0" transform="translate(-164 -19.37)" />
            <line class="cls-16" x1="737.17" y1="281.75" x2="737.17" y2="312.34" />
            <path class="cls-13" d="M901.17,332.93h0m0-34.26h0" transform="translate(-164 -19.37)" />
            <line class="cls-16" x1="256.33" y1="281.75" x2="256.33" y2="312.34" />
            <path class="cls-13" d="M420.33,332.93h0m0-34.26h0" transform="translate(-164 -19.37)" />
            <line class="cls-16" x1="416.61" y1="152.06" x2="416.61" y2="177.76" />
            <path class="cls-13" d="M580.61,198.35h0m0-29.36h0" transform="translate(-164 -19.37)" />
            <line class="cls-16" x1="576.89" y1="152.06" x2="576.89" y2="177.76" />
            <path class="cls-13" d="M740.89,198.35h0m0-29.36h0" transform="translate(-164 -19.37)" />
            <path class="cls-1"
                  d="M362.21,704.64H532.28V730H362.21Zm0-44.74H532.28v44.74H362.21Zm0-83.89H532.28V659.9H362.21Zm0-25.36H532.28V576H362.21Zm0-25.35H532.28v25.36H362.21Zm0-25.36H532.28V525.3H362.21Z"
                  transform="translate(-164 -19.37)" />
            <path class="cls-3"
                  d="M550.63,704.64H724.37V730H550.63Zm0-44.74H724.37v44.74H550.63Zm0-83.89H724.37V659.9H550.63Zm0-25.36H724.37V576H550.63Zm0-25.35H724.37v25.36H550.63Zm0-25.36H724.37V525.3H550.63Z"
                  transform="translate(-164 -19.37)" />
            <path class="cls-17"
                  d="M739.05,704.64H931V730H739.05Zm0-44.74H931v44.74H739.05Zm0-83.89H931V659.9H739.05Zm0-25.36H931V576H739.05Zm0-25.35H931v25.36H739.05Zm0-25.36H931V525.3H739.05Z"
                  transform="translate(-164 -19.37)" />
            <line class="cls-18" y1="480.57" x2="198.03" y2="480.57" />
            <line class="cls-18" x1="368.46" y1="480.57" x2="386.45" y2="480.57" />
            <line class="cls-18" x1="560.55" y1="480.57" x2="574.87" y2="480.57" />
            <line class="cls-18" y1="505.93" x2="198.03" y2="505.93" />
            <line class="cls-18" x1="368.46" y1="505.93" x2="386.45" y2="505.93" />
            <line class="cls-18" x1="560.55" y1="505.93" x2="574.87" y2="505.93" />
            <line class="cls-18" y1="531.29" x2="198.03" y2="531.29" />
            <line class="cls-18" x1="368.46" y1="531.29" x2="386.45" y2="531.29" />
            <line class="cls-18" x1="560.55" y1="531.29" x2="574.87" y2="531.29" />
            <line class="cls-18" y1="556.64" x2="198.03" y2="556.64" />
            <line class="cls-18" x1="368.46" y1="556.64" x2="386.45" y2="556.64" />
            <line class="cls-18" x1="560.55" y1="556.64" x2="574.87" y2="556.64" />
            <line class="cls-18" y1="640.54" x2="198.03" y2="640.54" />
            <line class="cls-18" x1="368.46" y1="640.54" x2="386.45" y2="640.54" />
            <line class="cls-18" x1="560.55" y1="640.54" x2="574.87" y2="640.54" />
            <line class="cls-18" y1="685.28" x2="198.03" y2="685.28" />
            <line class="cls-18" x1="368.46" y1="685.28" x2="386.45" y2="685.28" />
            <line class="cls-18" x1="560.55" y1="685.28" x2="574.87" y2="685.28" />
            <line class="cls-18" y1="710.63" x2="198.03" y2="710.63" />
            <line class="cls-18" x1="368.46" y1="710.63" x2="386.45" y2="710.63" />
            <line class="cls-18" x1="560.55" y1="710.63" x2="574.87" y2="710.63" />
            <line class="cls-19" x1="574.87" y1="480.57" x2="767.14" y2="480.57" />
            <line class="cls-19" x1="575.05" y1="505.75" x2="575.05" y2="480.76" />
            <line class="cls-19" x1="766.96" y1="505.75" x2="766.96" y2="480.76" />
            <line class="cls-19" x1="574.87" y1="505.93" x2="767.14" y2="505.93" />
            <line class="cls-19" x1="575.05" y1="531.1" x2="575.05" y2="506.11" />
            <line class="cls-19" x1="766.96" y1="531.1" x2="766.96" y2="506.11" />
            <line class="cls-19" x1="574.87" y1="531.29" x2="767.14" y2="531.29" />
            <line class="cls-19" x1="575.05" y1="556.46" x2="575.05" y2="531.47" />
            <line class="cls-19" x1="766.96" y1="556.46" x2="766.96" y2="531.47" />
            <line class="cls-19" x1="574.87" y1="556.64" x2="767.14" y2="556.64" />
            <line class="cls-19" x1="575.05" y1="640.35" x2="575.05" y2="556.83" />
            <line class="cls-19" x1="766.96" y1="640.35" x2="766.96" y2="556.83" />
            <line class="cls-19" x1="574.87" y1="640.54" x2="767.14" y2="640.54" />
            <line class="cls-19" x1="575.05" y1="685.09" x2="575.05" y2="640.72" />
            <line class="cls-19" x1="766.96" y1="685.09" x2="766.96" y2="640.72" />
            <line class="cls-19" x1="574.87" y1="685.28" x2="767.14" y2="685.28" />
            <line class="cls-19" x1="575.05" y1="710.45" x2="575.05" y2="685.46" />
            <line class="cls-19" x1="766.96" y1="710.45" x2="766.96" y2="685.46" />
            <line class="cls-19" x1="574.87" y1="710.63" x2="767.14" y2="710.63" />
            <line class="cls-19" x1="386.45" y1="480.57" x2="560.55" y2="480.57" />
            <line class="cls-19" x1="386.63" y1="505.75" x2="386.63" y2="480.76" />
            <line class="cls-19" x1="560.37" y1="505.75" x2="560.37" y2="480.76" />
            <line class="cls-19" x1="386.45" y1="505.93" x2="560.55" y2="505.93" />
            <line class="cls-19" x1="386.63" y1="531.1" x2="386.63" y2="506.11" />
            <line class="cls-19" x1="560.37" y1="531.1" x2="560.37" y2="506.11" />
            <line class="cls-19" x1="386.45" y1="531.29" x2="560.55" y2="531.29" />
            <line class="cls-19" x1="386.63" y1="556.46" x2="386.63" y2="531.47" />
            <line class="cls-19" x1="560.37" y1="556.46" x2="560.37" y2="531.47" />
            <line class="cls-19" x1="386.45" y1="556.64" x2="560.55" y2="556.64" />
            <line class="cls-19" x1="386.63" y1="640.35" x2="386.63" y2="556.83" />
            <line class="cls-19" x1="560.37" y1="640.35" x2="560.37" y2="556.83" />
            <line class="cls-19" x1="386.45" y1="640.54" x2="560.55" y2="640.54" />
            <line class="cls-19" x1="386.63" y1="685.09" x2="386.63" y2="640.72" />
            <line class="cls-19" x1="560.37" y1="685.09" x2="560.37" y2="640.72" />
            <line class="cls-19" x1="386.45" y1="685.28" x2="560.55" y2="685.28" />
            <line class="cls-19" x1="386.63" y1="710.45" x2="386.63" y2="685.46" />
            <line class="cls-19" x1="560.37" y1="710.45" x2="560.37" y2="685.46" />
            <line class="cls-19" x1="386.45" y1="710.63" x2="560.55" y2="710.63" />
            <line class="cls-19" x1="198.03" y1="480.57" x2="368.46" y2="480.57" />
            <line class="cls-19" x1="198.21" y1="505.75" x2="198.21" y2="480.76" />
            <line class="cls-19" x1="368.28" y1="505.75" x2="368.28" y2="480.76" />
            <line class="cls-19" x1="198.03" y1="505.93" x2="368.46" y2="505.93" />
            <line class="cls-19" x1="198.21" y1="531.1" x2="198.21" y2="506.11" />
            <line class="cls-19" x1="368.28" y1="531.1" x2="368.28" y2="506.11" />
            <line class="cls-19" x1="198.03" y1="531.29" x2="368.46" y2="531.29" />
            <line class="cls-19" x1="198.21" y1="556.46" x2="198.21" y2="531.47" />
            <line class="cls-19" x1="368.28" y1="556.46" x2="368.28" y2="531.47" />
            <line class="cls-19" x1="198.03" y1="556.64" x2="368.46" y2="556.64" />
            <line class="cls-19" x1="198.21" y1="640.35" x2="198.21" y2="556.83" />
            <line class="cls-19" x1="368.28" y1="640.35" x2="368.28" y2="556.83" />
            <line class="cls-19" x1="198.03" y1="640.54" x2="368.46" y2="640.54" />
            <line class="cls-19" x1="198.21" y1="685.09" x2="198.21" y2="640.72" />
            <line class="cls-19" x1="368.28" y1="685.09" x2="368.28" y2="640.72" />
            <line class="cls-19" x1="198.03" y1="685.28" x2="368.46" y2="685.28" />
            <line class="cls-19" x1="198.21" y1="710.45" x2="198.21" y2="685.46" />
            <line class="cls-19" x1="368.28" y1="710.45" x2="368.28" y2="685.46" />
            <line class="cls-19" x1="198.03" y1="710.63" x2="368.46" y2="710.63" />
            <text class="cls-20" transform="translate(13.46 498.4)">Extablished</text>
            <text class="cls-20" transform="translate(211.67 498.4)">1998</text>
            <text class="cls-20" transform="translate(400.08 498.4)">2005</text>
            <text class="cls-20" transform="translate(588.5 498.4)">2005</text>
            <text class="cls-20" transform="translate(13.44 523.75)">
                <tspan class="cls-21">T</tspan>
                <tspan x="6.53" y="0">ype</tspan>
            </text>
            <text class="cls-20" transform="translate(211.65 523.75)">CSI/SED foundation</text>
            <text class="cls-20" transform="translate(400.07 523.75)">Bee ownership trust</text>
            <text class="cls-20" transform="translate(588.49 523.75)">
                Sta
                <tspan class="cls-22" x="21.22" y="0">f</tspan>
                <tspan x="24.77" y="0">f assistance trust</tspan>
            </text>
            <text class="cls-20" transform="translate(13.43 549.11)">
                Number of
                <tspan class="cls-23" x="71.25" y="0">T</tspan>
                <tspan x="78.06" y="0">rustees</tspan>
            </text>
            <text class="cls-20" transform="translate(211.64 549.11)">10(7 independent)</text>
            <text class="cls-20" transform="translate(400.05 549.11)">6 (3 independent)</text>
            <text class="cls-20" transform="translate(588.47 549.11)">6</text>
            <text class="cls-20" transform="translate(13.42 574.47)">Funding based on**</text>
            <text class="cls-20" transform="translate(211.62 574.47)">
                1% net p
                <tspan class="cls-22" x="57.66" y="0">r</tspan>
                <tspan x="62.03" y="0">oﬁt after</tspan>
                <tspan x="0" y="17.62">tax of FirstRand Limited,</tspan>
                <tspan x="0" y="35.24">excluding Aldermo</tspan>
                <tspan class="cls-24" x="117.21" y="35.24">r</tspan>
                <tspan x="121.57" y="35.24">e</tspan>
                <tspan x="0" y="52.86" xml:space="preserve">and Africa  </tspan>
            </text>
            <text class="cls-20" transform="translate(400.04 574.45)">
                Dividends f
                <tspan class="cls-24" x="69.59" y="0">r</tspan>
                <tspan class="cls-25" x="73.95" y="0">om</tspan>
                <tspan x="0" y="17.62">endowment</tspan>
            </text>
            <text class="cls-20" transform="translate(588.46 574.45)">
                Dividends f
                <tspan class="cls-26" x="69.59" y="0">r</tspan>
                <tspan x="73.95" y="0">om</tspan>
                <tspan x="0" y="17.62">endowment</tspan>
            </text>
            <text class="cls-20" transform="translate(13.4 658.35)">
                <tspan class="cls-27">V</tspan>
                <tspan x="7.91" y="0">alue of endowment</tspan>
                <tspan x="0" y="17.62">at 30 June 2018</tspan>
            </text>
            <text class="cls-20" transform="translate(211.61 658.35)">Not applicable</text>
            <text class="cls-20" transform="translate(400.03 658.35)">
                App
                <tspan class="cls-22" x="26.1" y="0">r</tspan>
                <tspan x="30.48" y="0">oximatley R7 billion</tspan>
            </text>
            <text class="cls-20" transform="translate(588.44 658.35)">
                App
                <tspan class="cls-22" x="26.1" y="0">r</tspan>
                <tspan x="30.48" y="0">oximatley R1 billion</tspan>
            </text>
            <text class="cls-20" transform="translate(13.39 703.08)">
                Registe
                <tspan class="cls-28" x="47.32" y="0">r</tspan>
                <tspan class="cls-29" x="51.7" y="0">ed PBO</tspan>
            </text>
            <text class="cls-30" transform="translate(211.59 703.08)">
                Y
                <tspan class="cls-29" x="7.62" y="0">es</tspan>
            </text>
            <text class="cls-30" transform="translate(400.01 703.08)">
                Y
                <tspan class="cls-29" x="7.62" y="0">es</tspan>
            </text>
            <text class="cls-20" transform="translate(588.43 703.08)">No</text>
        </svg>
    </object>
    <div class="footnotes">
        <ul class="list-asterix">
            <li>
                Original established as the Southern Life Foundation in 1988; changed to the FirstRand
                Foundation in 1998.
            </li>
            <li>
                In terms of SARS regulations, the FRF Trust is required to distribute at least 50% of all
                funds received by way of donation (i.e. FirstRand's 1% NPAT))
                within 12 months of the end of the year in which the donation was received; in addition ,
                investment income earned by the Trust must be spent within five years of earning it. As FREF
                is financed through dividend income (and not via a donation), it does not face spending
                requirements of this sort
            </li>
        </ul>
    </div>
</div>