﻿<div class="full-div society-page">
    <div class="full-div">
        <div class="head-scholarship" align="center">
            <div>
                <span class="quote-yellow"><img src="/images/qoute_before.png" alt="''"></span>Young people must
                take it upon themselves to ensure that they receive the highest
                education possible so that they can present us well in future as future leaders.<span class="quote-yellow"><img src="/images/qoute_after.png" alt="''"></span>
            </div>
            <div class="small-text-gray">Nelson Mandela</div>
        </div>
    </div>
    <div class="full-div">
        <div class="scholarship-holder">
            <div class="col-md-4">
                <div class="blue-yellow-block block-padding">
                    <div class="full-div"><h3>FIRSTRAND</h3></div>
                    <div class="full-div"><h3>LAURIE DIPPENAAR</h3></div>
                    <div class="full-div"><h3>SCHOLARSHIP</h3></div>
                </div>
                <div class="full-div">
                    _page_scholarship
                    <a href="/society/scholarships/Laurie-Dippenaar-scholarship/">
                        <button type="button" class="btn landing-btn-primary society-btn ">
                            Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="yellow-blue-block block-padding">
                    <div class="full-div"><h3>FIRSTRAND FOUNDATION</h3></div>
                    <div class="full-div"><h3>SCHOLARSHIP FOR</h3></div>
                    <div class="full-div"><h3>INTERNATIONAL</h3></div>
                    <div class="full-div"><h3>POSTGRADUATE STUDY</h3></div>
                </div>
                <div class="full-div">
                    <a href="/society/scholarships/FirstRand-foundation-scholarship/">
                        <button type="button" class="btn landing-btn-primary society-btn ">
                            Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blue-yellow-block block-padding">
                    <div class="full-div"><h3>FIRSTRAND</h3></div>
                    <div class="full-div"><h3>OXFORD AFRICAN</h3></div>
                    <div class="full-div"><h3>STUDIES SCHOLARSHIP</h3></div>
                    <div class="full-div"><h3>TO THE UNIVERSITY OF</h3></div>
                    <div class="full-div"><h3>OXFORD</h3></div>
                </div>
                <div class="full-div">
                    <a href="/society/scholarships/FirstRand-oxford-african-studies-scholarship/">
                        <button type="button" class="btn landing-btn-primary society-btn ">
                            Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="full-div">
        <div class="scholarship-holder">
            <div class="col-md-4">
                <div class="yellow-blue-block">
                    <div class="full-div"><img src="/images/new_icon.png" alt=""></div>
                    <div class="full-div"><h3>FIRSTRAND FNB FUND</h3></div>
                    <div class="full-div"><h3>OXFORD EDUCATION</h3></div>
                    <div class="full-div"><h3>SCHOLARSHIP FOR A</h3></div>
                    <div class="full-div"><h3>MASTERS DEGREE IN</h3></div>
                    <div class="full-div"><h3>EDUCATION</h3></div>
                </div>
                <div class="full-div">
                    <a href="/society/scholarships/FirstRand-oxford-african-studies-scholarship/">
                        <button type="button" class="btn landing-btn-primary society-btn ">
                            Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blue-yellow-block">
                    <div class="full-div"><img src="/images/new_icon.png" alt=""></div>
                    <div class="full-div"><h3>FIRSTRAND FNB FUND</h3></div>
                    <div class="full-div"><h3>SCHOLARSHIP</h3></div>
                    <div class="full-div"><h3>FOR INTERNATIONAL</h3></div>
                    <div class="full-div"><h3>POSTGRADUATE STUDY</h3></div>
                    <div class="full-div"><h3>IN EDUCATION</h3></div>
                </div>
                <div class="full-div">
                    <a href="/society/scholarships/FirstRand-FNB-fund-scholarship/">
                        <button type="button" class="btn landing-btn-primary society-btn ">
                            Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="thin-green-line">
    <div class="full-div"><h3>SCHOLARSHIP CRITERIA</h3></div>
    <p>The following factors are taken into account in the awarding of the scholarship:</p>
    <ul>
        <li>academic excellence;</li>
        <li>leadership ability;</li>
        <li>community involvement; and</li>
        <li>potential to be a destiny changer.</li>
    </ul>
    <p>&nbsp;</p>

    <div class="full-div">
        <div class="col-md-10 padding-left">
            <p>
                Preference is given to applicants under the age of 35 and this has to be for first-time overseas study.
                Applicants should have applied to and been
                conditionally accepted by their university of choice for the postgraduate course they wish to pursue by
                April 2017.
            </p>

            <p>Applications will be treated in the strictest confidence.</p>

            <p>
                The decision of the adjudication panel is final and correspondence regarding their decision will not be
                entered into. The panel reserves the right not
                to make an award.
            </p>
        </div>
    </div>
    <hr class="thin-green-line">
    <h3>CONTACT FORM</h3>

    <div class="contact-forms">
        <div class="full-div">
            <div class="contact-forms-input">
                <div class="form-labels">Name</div>
                <input type="text">
            </div>
        </div>
        <div class="full-div">
            <div class="contact-forms-input">
                <div class="form-labels">Contact number (optional)</div>
                <input type="text">
            </div>
        </div>
        <div class="full-div">
            <div class="contact-forms-input">
                <div class="form-labels">Email</div>
                <input type="text" placeholder="name@domain.co.za">
            </div>
        </div>
        <div class="full-div">
            <div class="contact-forms-input">
                <div class="form-labels">Message</div>
                <textarea placeholder="Start typing your message here..."></textarea>
            </div>
            <div class="contact-forms-input">
                <div class="form-coppy">
                    <div>Send me a copy of this message</div>
                    <input type="radio" checked="">
                </div>
            </div>
            <div class="contact-forms-input">
                <button type="button" class="btn landing-btn-primary society-btn ">
                    Send message <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
</div>