﻿<div>
    <div class="row">
        <div class="col-lg-4">
            <div class="gray-block-society">
                FirstRand’s
                shared value
                contract with
                society
            </div>
        </div>
        <div class="col-lg-8 ">
            <p class="mb-0">
                The nature, size and scale of FirstRand’s business activities means
                that it inevitably impacts society in its broadest sense, as a:
            </p>
            <ul class="mb-0">
                <li>systemic provider of credit;</li>
                <li>keeper of the country’s deposits and savings;</li>
                <li>provider of channels for people to access their funds and spend;</li>
                <li>material taxpayer; and</li>
                <li>large employer;</li>

            </ul>
            <p>
                Given this position, FirstRand recognises that it has a
                responsibility to deliver shared value to multiple stakeholders.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <strong>
                    The group's impact on society extends from the CSI spend by its foundations to
                    how it
                    manages its operations and most importantly, how it deploys its balance sheet
                    and core
                    business activities.
                </strong>
            </p>
        </div>
    </div>
    <div class="bee-credentials">
        <div class="card-columns">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        CSI (FOUNDATIONS)
                    </h5>

                    <p>
                        Focus on sustainable development goals that do not completely align with
                        core
                        business activities
                    </p>
                    <ul>
                        <li>Strategic allocation of limited funds</li>
                    </ul>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        OPERATIONAL FOOTPRINT
                    </h5>

                    <p class="card-text">
                        Strategic management of resources used in running operations, e.g. energy
                        and water
                        management and procurement
                    </p>
                    <ul class="mb-0">
                        <li>Medium scale impact possible</li>
                        <li>Impact limited to group’s immediate value chain</li>
                    </ul>
                </div>
            </div>
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        CORE BUSINESS ACTIVITIES
                    </h5>

                    <p>
                        Strategically incorporates sustainable development goals that align with
                        core
                        business activities
                    </p>
                    <ul class="mb-0">
                        <li>High scale impact possible</li>
                        <li>Ability to impact broader ecosystem and society</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="green-block-society-holder position-relative">
            <div class="green-block-society">Scalability and impact grows</div>
            <img src="~/images/elements/green-arrow.png" alt="">
        </div>
        <div class="card-columns">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 CSI <br> spend
                    </h5>
                    <p class="spend">
                        R342 million*
                    </p>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 total <br> procurement of
                    </h5>

                    <p class="spend">
                        R18 billion
                    </p>
                    <hr>
                    <p class="spend">
                        R3 billion**
                    </p>
                    <p class="">
                        from black-owned <br> Multiple of 4 400
                    </p>
                </div>
            </div>
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 total <br> assets
                    </h5>

                    <p class="spend">
                        R1532 billion
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <p class="text-center strong mb-0">
            Multiple of 4400 times
        </p>
        <hr class="mt-2">
    </div>
    <div class="mb-4">
        <p class="small">
            * FirstRand Foundation, FirstRand Empowerment Foundation and FirstRand Staff Assistance
            Trust.
            <br>
            ** R3.7 billion using Financial Sector Charter (FSC) multipliers.
        </p>
    </div>
</div>

<div>
    <p>

        The impact of a business the size and scale of FirstRand is complex, and the measurement
        landscape
        and tools are new compared to financial reporting.
    </p>
    <p>
        The group is developing a bespoke measurement
        framework designed to measure holistic impact to better understand whether products and
        services
        are
        net positive social contributors or net socially extractive. The group's long-term
        aspiration is
        to
        use these insights to drive business strategy as equally as conventional economic
        factors currently
        do. The group believes that to earn public trust it must, by design, align business
        priorities
        with
        that of society; this will ensure the group's sustainable growth and relevance in the long
        term.
    </p>
    <p>
        For more detail on the group's shared value contract with society and our progress to date,
        refer to the
        group report to society.
    </p>
    <a href="#" class="btn btn-primary">
        Report to society
    </a>
</div>

<div class="jumbotron bg-green text-white social-investing-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto wow fadeIn">
                <h2>
                    <span>
                        environmental and <br>
                        social risk
                    </span>management
                </h2>
                <p>
                    As a financial services group, FirstRand has a role to play in the effective
                    management of
                    environmental and social risks of its lending and investment decisions, product
                    and service
                    offerings, own organisational impacts, and promoting responsible practice
                    through its value
                    chains. The FirstRand environmental sustainability policy commits the group to
                    review and manage
                    the environmental impact of its operations, as well as consider the impact on
                    the environment
                    and communities through its products and services.
                </p>
                <p>
                    The environmental and social risk assessment
                    (ESRA) due diligence process has become part of the organisational culture.
                    These activities
                    have become the foundation for understanding risks to the group, its portfolios
                    and stakeholders
                    posed by climate change, social issues and natural capital.
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row wow fadeIn">
        <div class="col-lg-12">
            <h3>
                Equator principles report
            </h3>
            <p>
                FirstRand became an Equator Principles (EP) signatory in 2009 to provide a
                specialised
                subset of
                its ESRA process to RMB. The adoption of EP demonstrates long-term commitment to
                responsible
                lending.
            </p>
            <p>
                EP performance reporting is externally assured by an independent third party in line
                with the requirements set out by the EP Association.
            </p>
            <p>
                The EP performance reporting was previously
                included in the FirstRand environmental and social risk report. From 2018, this
                report forms
                part of the report to society.
            </p>

        </div>
        <div class="col-lg-12 wow fadeIn">
            <table class="table table-dark table-sm table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">
                            <img src="~/images/content/icon-pdf.png" alt=""
                                 class="icon-pdf">
                        </th>
                        <td>
                            <a href="#" target="_blank">
                                UBS financial services conference - Cape Town - Johan Burger
                                (CEO)
                            </a>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="~/images/content/icon-pdf.png" alt=""
                                 class="icon-pdf">
                        </th>
                        <td>
                            <a href="#" target="_blank">
                                Debt investor presentation for FI function in London - 14
                                June 2017
                            </a>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="~/images/content/icon-pdf.png" alt=""
                                 class="icon-pdf">
                        </th>
                        <td>
                            <a href="#" target="_blank">
                                UBS financial services conference - Cape Town - Johan Burger
                                (CEO)
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>