﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Collections.Generic;
@using Firstrand.Models;
@using Firstrand.Controllers;

@RenderBoard()

@helper RenderBoard()
{
var executives =
    Umbraco.TypedContent(2028)
    .Children("boardMember")
    .Where(x => x.HasValue("category") && x.IsVisible())
    .OrderBy("SortOrder");

    <div class="management-and-board">
        <ul class="nav nav-pills flex-column flex-sm-row" id="pills-tab"
            role="tablist">
            <li class="nav-item flex-sm-fill text-sm-center mr-1">
                <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-home"
                   role="tab" aria-controls="pills-1" aria-selected="true">
                    Board members
                </a>
            </li>
            <li class="nav-item flex-sm-fill text-sm-center mr-1">
                <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-profile"
                   role="tab" aria-controls="pills-2" aria-selected="false">
                    Prescribed officers
                </a>
            </li>
            <li class="nav-item flex-sm-fill text-sm-center">
                <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-contact"
                   role="tab" aria-controls="pills-3" aria-selected="false">
                    Strategic executive committee
                </a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                 aria-labelledby="pills-1-tab">
                <div class="board-members">
                    @{ foreach (var member in executives)
                        {
                            var designation = member.GetPropertyValue("designation");
                            var photo = member.GetPropertyValue<IPublishedContent>("photo");
                            var categoryName = member.GetPropertyValue<IEnumerable<string>>("category");
                            foreach (var cat in categoryName.Where(x => x.Equals("Prescribed officers")))
                            {
                                <div class="board-member">
                                    <div class="card text-center">
                                        @{
                                            if (photo != null)
                                            {
                                                <img src="@photo.Url" alt="@member.Name" class="card-img-top">}
                                            else
                                            {
                                                <img src="~/images/content/user-blank.png" alt="@member.Name" class="card-img-top">
                                            }
                                        }
                                        <div class="card-body">
                                            <h4 class="card-title">@member.Name</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                @designation
                                            </h6>
                                            @*<p class="small">Appointed July 2010</p>
                                        <div class="social-links">
                                            <i class="fa fa-graduation-cap"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-profile" role="tabpanel"
                 aria-labelledby="pills-2-tab">
                <div class="board-members">
                    @{ foreach (var member in executives)
                        {
                            var designation = member.GetPropertyValue("designation");
                            var photo = member.GetPropertyValue<IPublishedContent>("photo");
                            var categoryName = member.GetPropertyValue<IEnumerable<string>>("category");
                            foreach (var cat in categoryName.Where(x => x.Equals("Board members")))
                            {
                                <div class="board-member">
                                    <div class="card text-center">
                                        @{
                                            if (photo != null)
                                            {
                                                <img src="@photo.Url" alt="@member.Name" class="card-img-top">}
                                            else
                                            {
                                                <img src="~/images/content/user-blank.png" alt="@member.Name" class="card-img-top">
                                            }
                                        }
                                        <div class="card-body">
                                            <h4 class="card-title">@member.Name</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                @designation
                                            </h6>
                                            @*<p class="small">Appointed July 2010</p>
                                        <div class="social-links">
                                            <i class="fa fa-graduation-cap"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-contact" role="tabpanel"
                 aria-labelledby="pills-3-tab">
                <div class="board-members">
                    @{ foreach (var member in executives)
                        {
                            var designation = member.GetPropertyValue("designation");
                            var photo = member.GetPropertyValue<IPublishedContent>("photo");
                            var categoryName = member.GetPropertyValue<IEnumerable<string>>("category");
                            foreach (var cat in categoryName.Where(x => x.Equals("South African strategic executive committee members")))
                            {
                                <div class="board-member">
                                    <div class="card text-center">
                                        @{
                                            if (photo != null)
                                            {
                                                <img src="@photo.Url" alt="@member.Name" class="card-img-top">}
                                            else
                                            {
                                                <img src="~/images/content/user-blank.png" alt="@member.Name" class="card-img-top">
                                            }
                                        }
                                        <div class="card-body">
                                            <h4 class="card-title">@member.Name</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                @designation
                                            </h6>
                                            @*<p class="small">Appointed July 2010</p>
                                        <div class="social-links">
                                            <i class="fa fa-graduation-cap"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}