﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;


<div class="full-div">
    <div class="row">
        <div class="col-md-4">
            <div class="careers-block careers-red-block">
                <h5>GRADUATE PROGRAMMES</h5>

                <p>
                    The core objective of graduate development within the group is to attract, develop and retain talented graduates with critical and scarce skills<br /> <br />FirstRand, FNB, RMB and Ashburton Investments offer a number of graduate programmes across specialist and generalist career paths. These programmes are aimed at qualified graduates in a variety of professional disciplines and offer an opportunity to learn on the job, contribute to business results, build skills and develop professionally.
                    <br /> <br />
                    Click on the links below to learn more:
                </p>
                <p>
                    <a rel="noopener noreferrer" href="#" target="_blank" title="Quants programme">Quants programme</a>
                    <br /> 
                    Launched by FCC in January 2012, this programme is aimed at qualified students with actuarial, maths and statistics degrees. The duration of the programme is two years and recruitment is done via the FNB graduate programme.
                    <br /> <br /> 
                    <a rel="noopener noreferrer" href="#" target="_blank" title="Group-wide CA training programme">
                        Group-wide CA training programme
                    </a>
                    <br /> 
                    <a rel="noopener noreferrer" href="#" target="_blank" title="FNB graduate programme">FNB graduate programme</a><br />
                    <a rel="noopener noreferrer" href="#" target="_blank" title="RMB graduate programme">RMB graduate programme</a><br />
                    <a rel="noopener noreferrer" href="#" target="_blank" title="Learnerships">Learnerships</a>
                </p>
                <p>In addition to the graduate programmes, the group runs a number of learnerships. Invitations to participate in these are advertised extensively in the media.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="careers-block careers-blue-block ">
                <h5>EXPERIENCED CAREER SEEKERS</h5>

                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan
                    et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis
                    natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus
                    mus. Nam fermentum, nulla luctus
                    pharetra vulputate, felis tellus mollis
                    orci, sed rhoncus sapien nunc eget.
                </p>
                <a href="https://www.firstrandjobs.mobi/" target="_blank">
                    <button type="button" class="btn landing-btn-primary ivestor-btn">
                        BROWSE VACANCIES <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="careers-block careers-yellow-block">
                <h5>SCHOLARSHIPS</h5>

                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan
                    et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis
                    natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus
                    mus. Nam fermentum, nulla luctus
                    pharetra vulputate, felis tellus mollis
                    orci, sed rhoncus sapien nunc eget.
                </p>
                <a href="/society/scholarships/">
                    <button type="button" class="btn landing-btn-primary ivestor-btn">
                        READ MORE <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>