﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("conferenceGallery"); 
        var i = 0;
        foreach (var item in typedMultiMediaPicker)
        {
          i++;
            <div class="">
                <div class="gallery-img-div">
                    <a href="@item.Url">
                        <img src="@item.Url"
                            class="img-responsive "
                            style="margin-bottom: 15px;" />
                    </a>
    			</div>
            </div>
            if (i % 5 == 0){
                <div class="clearfix"></div>
                 }
        }
}