﻿<div class="circle-holder-yellow-class">
    <a href="http://firstrand.onlinereport.co.za/test2018/documents/pdfs/BPC_Conference_Concept.pdf" target="_blank">
        <div class="circle-yellow">
            <div class="circle-yellow-sub class-circle1">
                <h5 class="bigger-h5 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <span>
                        Conference
                        concept
                    </span>
                </h5>
            </div>
        </div>
    </a>
    <a href="../2017-conference/conference-photos/">
        <div class="circle-yellow">
            <div class="circle-yellow-sub  class-circle2">
                <h5 class="bigger-h5 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <span>
                        Conference
                        photos
                    </span>
                </h5>
            </div>
        </div>
    </a>
    <a href="../conference-presentations/">
        <div class="circle-yellow">
            <div class="circle-yellow-sub  class-circle3">
                <h5 class="bigger-h5 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <span>
                        Conference
                        presentations
                    </span>
                </h5>
            </div>
        </div>
    </a>
    <a href="http://firstrand.onlinereport.co.za/test2018/documents/pdfs/BPC_Conference_Concept.pdf" target="_blank">
        <div class="circle-yellow">
            <div class="circle-yellow-sub  class-circle4">
                <h5 class="bigger-h5 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <span>
                        Post
                        conference
                        task
                    </span>
                </h5>
            </div>
        </div>
    </a>
</div>