﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="full-div">
    <div class="col-md-8">
        <div class="full-div boxed-classroom">
            <div class="class-links">
              
                @{
                    var selection = Model.Content.Site().FirstChild("society").FirstChild("societyPage").FirstChild("paintingClassrooms").FirstChild("newsItemsList").Children("newsItems").Where(x => x.IsVisible()).OrderBy("UpdateDate desc");
                }
                @foreach (var item in selection)
                {
                    <a href="/media/1056/download.pdf" target="_blank"><img src="/images/pdf_icon.png" alt="">@item.Name</a>
                }
            </div>
        </div>
    </div>
</div>