﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="full-div">
    <div class="col-md-8">
        <div class="boxed-classroom">
            <div class="class-links">
                @{
                var selection = Umbraco.TypedContent(1332).Children("workshopPresentation").Where(x => x.IsVisible()).OrderBy("UpdateDate desc");
                }
                @foreach (var item in selection)
                {

                <a href="@item.GetPropertyValue("uploadField")"><img src="/images/pdf_icon.png" alt="">@item.Name</a>
                }
            </div>
        </div>
    </div>
</div>