﻿
<div class="boxed-classroom">
							<div class="col-md-4">
							<a href="../../../documents/pdfs/beyond-painting-classroom/BPC_Aligning_EV_with_Core_Business_Strategy-29_October_2014.pdf" target="_blank"><img src="../../../images/BPC_cover5.jpg" alt="">BPC Aligning EV with Core
Business Strategy - 29
October 2014</a>
								</div>
								<div class="col-md-4">
								<a href="../../../documents/pdfs/beyond-painting-classroom/BPC_Skills-Based_Volunteering_Workshop-11th_June_2014.pdf" target="_parent"><img src="../../../images/BPC_cover11.jpg" alt="">BPC Skills-Based
Volunteering Workshop - 11th
June 2014</a>
								</div>
								<div class="col-md-4">
									<a href="../../../documents/pdfs/beyond-painting-classroom/BPC_Skills-based_Volunteering_Workshop_Report–5th_March_2014.pdf" target="_parent"><img src="../../../images/BPC_cover29.jpg" alt="">BPC Skills-based Volunteering
Workshop Report – 5th
March 2014</a>
								</div>
							  </div>
		