﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="row governance">
    <div class="col-lg-12">
        <div class="tab-content " id="myTabContent">
            @{var j = 1;}
            @for (var i = 2019 - 1; i >= 1998; i -= 1)
            {
                <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tablimited_@j" role="tabpanel">
                    <table class="table table-dark table-sm table-borderless">
                        <tbody>
                            @{ string year = i.ToString();}
                            @RenderGovernance(@year)
                        </tbody>
                    </table>
                </div>
                j++;
            }
        </div>
        <div class="mt-4">
            <div class="enquire-box ">
                @*<div class="text-center">
                    <img src="~/images/icons/email-icon.png" alt="" class="email-icon">
                </div>*@
                <p>
                    Should you require an original signed copy of this certification, please email
                    <a href="mailto:aml@firstrand.co.za"><strong>aml@firstrand.co.za</strong></a>.
                </p>
                <p class="mb-0">
                    Please note that all queries, questionnaires, etc. relating to
                    FirstRand Bank's anti-money laundering controls, policies and procedures should be directed
                    to <a href="mailto:aml@firstrand.co.za"><strong>aml@firstrand.co.za</strong></a>
                </p>
            </div>
        </div>
    </div>

    @helper RenderGovernance(string year)
    {
        var selection =
            Umbraco.TypedContent(1588)
            .Children("governanceAndComplianceItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

        foreach (var item in selection)
        {
            // If field value @Umbraco.Field("year") is equal to year,
            // display items that have that value
            var itemYear = item.GetPropertyValue<string>("itemYear");
            var bank = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("bank"));
            var document = item.GetPropertyValue("pdfDocument");
            <tr>
                <th scope="row">
                    <img src="~/images/content/icon-pdf.png"
                            class="icon-pdf">
                </th>
                <td>
                    <a href="@document" target="_blank">
                        @{ if (item.HasProperty(item.GetPropertyValue("documentTitle").ToString()))
                            {
                                @item.GetPropertyValue("documentTitle")
                            }
                            else
                            {
                                @item.Name
                            }
                        }
                    </a>
                </td>
            </tr>
        }
    }