﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="financial-results">
    <div id="accordion" class="">
        <div class="card mb-0">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    Investor presentations
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse in show" data-parent="#accordion">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @{ var t = 1;}
                    @for (var i = 2019 - 1; i > 2002; i -= 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(i == 2018 ? "active" : null) pb-0" id="tab-tab1" data-toggle="tab" href="#tablimited_@t"
                               role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                        </li>
                        t++;
                    }
                </ul>
                <div class="tab-content" id="myTabContent">
                    @{var j = 1;}
                    @for (var i = 2019 - 1; i >= 2003; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tablimited_@j" role="tabpanel"
                             aria-labelledby="tablimited_@j">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderItemLoop(@year)
                                </tbody>
                            </table>
                        </div>
                        j++;
                    }
                    @helper RenderItemLoop(string year)
                    {
                        var selection =
                            Umbraco.TypedContent(1715)
                            .Children("investorPresentationsItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("CreateDate");

                        foreach (var item in selection)
                        {
                            // If field value @Umbraco.Field("year") is equal to year,
                            // display items that have that value
                            var itemYear = item.GetPropertyValue<string>("itemYear");
                            if (itemYear.Equals(@year))
                            {
                                <tr>
                                    <th scope="row">
                                        <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf pr-2">
                                    </th>
                                    <td>
                                        <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">@item.Name</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseTwo">
                <a class="card-title">
                    Share price
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <div class="row">
                    <div class="col-md-12">
                        <iframe width="100%" height="450" class="iframesliders"
                                src="https://irhosted.profiledata.co.za/firstrand/2017_feeds/c15a_chartb.aspx"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe width="100%" height="100" class="iframesliders text-frame"
                                src="https://irhosted.profiledata.co.za/firstrand/intraday.htm"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseThree">
                <a class="card-title">
                    Other shareholder documents
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                @{
                    var selection =
                            Umbraco.TypedContent(1716)
                            .Children("otherCircularsAndMOIItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("UpdateDate desc");

                    foreach (var item in selection)
                    {
                        <div class="card-body">
                            <h6 class="card-title">
                                @item.Name
                            </h6>
                            <p class="card-text">
                                @item.GetPropertyValue("brief")
                            </p>
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{
                                        <tr>
                                            <th scope="row">
                                                <img src="~/images/content/icon-pdf.png" alt=""
                                                     class="icon-pdf">
                                            </th>
                                            <td>
                                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                                                    @item.GetPropertyValue("documentTitle")
                                                </a>
                                            </td>
                                        </tr>
                                        if (item.HasValue("pdfDocument2"))
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <img src="~/images/content/icon-pdf.png" alt=""
                                                         class="icon-pdf">
                                                </th>
                                                <td>
                                                    <a href="@item.GetPropertyValue("pdfDocument2")" target="_blank">
                                                        @item.GetPropertyValue("documentTitle2")
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                }
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseFour">
                <a class="card-title">
                    Basel 3 pillar disclosure
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <h6>
                        Six-monthly and quarterly disclosures

                    </h6>

                    <div>
                        <ul class="nav nav-tabs" id="myTab_" role="tablist">
                            @{ var bb = 1;}
                            @for (var i = 2019 - 1; i >= 2008; i -= 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(i == 2018 ? "active" : null)"
                                      data-toggle="tab" 
                                       href="#tabquarter_@bb" 
                                       role="tab" 
                                       aria-controls="tabquarter_@bb" 
                                       aria-selected="true">
                                        @i
                                    </a>
                                </li>
                                bb++;
                            }
                        </ul>
                        <div class="tab-content" id="myTabContent_">
                            @{var c = 1;}
                            @for (var i = 2019 - 1; i >= 2008; i -= 1)
                            {
                                <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tabquarter_@c" role="tabpanel"
                                     aria-labelledby="tabquarter_@c">
                                    <table class="table table-dark table-sm table-borderless">
                                        <tbody>
                                            @{ string year = i.ToString();}
                                            @RenderItemLoop(year, "Monthly")
                                        </tbody>
                                    </table>
                                </div>
                                c++;
                            }
                        </div>
                    </div>

                    <br>
                    <h6>
                        Standardised disclosures
                    </h6>
                    <div>
                        <ul class="nav nav-tabs" id="myTab_" role="tablist">
                            @{ var k = 1;}
                            @for (var p = 2019 - 1; p >= 2013; p -= 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(p == 2018 ? "active" : null)" 
                                       data-toggle="tab" 
                                       href="#tabcommon_@k"
                                       role="tab" 
                                       aria-controls="tab5" 
                                       aria-selected="false">
                                        @p
                                    </a>
                                </li>
                                k++;
                            }
                        </ul>
                        <div class="tab-content" id="myTabContent_">
                            @{var l = 1;}
                            @for (var i = 2019 - 1; i >= 2013; i -= 1)
                                {
                                <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tabcommon_@l" role="tabpanel"
                                     aria-labelledby="tab1">
                                    <table class="table table-dark table-sm table-borderless">
                                        <tbody>
                                            @{ string year = i.ToString();}
                                            @RenderItemLoop(year, "Common")
                                        </tbody>
                                    </table>
                                </div>
                                l++;
                            }
                            @helper RenderItemLoop(string year, string itemSegment)
                            {
                                var selection =
                                    Umbraco.TypedContent(1576)
                                    .Children("baselPillar3DisclosureItem")
                                    .Where(x => x.IsVisible())
                                    .OrderBy("UpdateDate desc");

                                foreach (var item in selection)
                                {
                                    // Get uploaded file size in MB
                                    var bytes = Convert.ToInt64(@item.GetPropertyValue<string>("umbracoBytes"));
                                    var x = ((Math.Round(Convert.ToDecimal(@bytes) / 1048576, 1)).ToString() + " MB");
                                    var y = ((Math.Round(Convert.ToDecimal(@bytes) / 1024, 1)).ToString() + " KB");
                                    var fileSize = (bytes >= 1048576) ? x : y;

                                    // If field value @Umbraco.Field("year") is equal to year,
                                    // display items that have that value
                                    var itemYear = item.GetPropertyValue<string>("itemYear");
                                    var segment = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("segment"));

                                    if (itemYear.Equals(@year) && segment.Equals(@itemSegment))
                                    {
                                        <tr>
                                            <th scope="row">
                                                <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf">
                                            </th>
                                            <td>
                                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                                                    @item.Name
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>