﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="financial-results mb-5">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab">
            <div>
                <h4 class="strong">
                    FirstRand Limited
                </h4>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @{ var t = 1;}
                    @for (var i = 2019 - 1; i > 1998; i -= 1)
                    {
                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2018 ? "active" : null)"
                               data-toggle="tab"
                               href="#tablimited_@t"
                               role="tab">@i</a>
                        </li>
                        t++;
                    }
                </ul>
                <div class="tab-content" id="myTabContent">
                    @{var j = 1;}
                    @for (var i = 2019 - 1; i >= 1998; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tablimited_@j" role="tabpanel">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderFirstrandLimited(@year)
                                </tbody>
                            </table>
                        </div>
                        j++;
                    }
                </div>
            </div>
            <div>
                <br>
                <h4 class="strong">
                    FirstRand bank
                </h4>
                <ul class="nav nav-tabs" id="myTab_" role="tablist">
                    @{ var b = 1;}
                    @for (var i = 2019 - 1; i > 2002; i -= 1)
                    {
                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2018 ? "active" : null)"
                               id="tab-tab1_"
                               data-toggle="tab"
                               href="#tabbank_@b">@i</a>
                        </li>
                        b++;
                    }
                </ul>
                <div class="tab-content" id="myTabContent_">
                    @{var c = 1;}
                    @for (var i = 2019 - 1; i >= 2002; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tabbank_@c">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderFirstrandBank(@year)
                                </tbody>
                            </table>
                        </div>
                        c++;
                    }
                </div>
            </div>

            <div>
                <br>
                <h4 class="strong">
                    Reports to society
                </h4>
                <ul class="nav nav-tabs" id="myTab__" role="tablist">
                    @{ var C= 1;}
                    @for (var i = 2019 - 1; i > 2002; i -= 1)
                    {
                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2018 ? "active" : null)" 
                               data-toggle="tab"
                               href="#tabrts_@C"
                               aria-selected="true">@i</a>
                        </li>
                        C++;
                    }
                </ul>
                <div class="tab-content" id="myTabContent__">
                    @{var d = 1;}
                    @for (var i = 2019 - 1; i >= 2002; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2018 ? "active in" : null)" id="tabrts_@d">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderRTS(@year, "FirstRand")
                                    @RenderRTS(@year, "FNB")
                                    @RenderRTS(@year, "RMB")
                                    @RenderRTS(@year, "WesBank")
                                </tbody>
                            </table>
                        </div>
                        d++;
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@helper RenderFirstrandLimited(string year)
{
    var selection =
        Umbraco.TypedContent(1561)
        .Children("annualIntegratedReportingItem")
        .Where(x => x.IsVisible())
        .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        var bank = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("bank"));
        var document = item.GetPropertyValue("pdfDocument");
        if (itemYear.Equals(@year) && (bank.ToString().Equals("Limited")))
        {
            <tr>
                <th scope="row">
                    <img src="~/images/content/icon-pdf.png"
                         class="icon-pdf">
                </th>
                <td>
                    <a href="@document" target="_blank">@item.Name</a>
                </td>
            </tr>
        }
    }
}

@helper RenderFirstrandBank(string year)
{
    var selection =
                Umbraco.TypedContent(1561)
                .Children("annualIntegratedReportingItem")
                .Where(x => x.IsVisible())
                .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>
            ("itemYear");
        var bank = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("bank"));

        var document = item.GetPropertyValue("pdfDocument");
        var thumbnail = item.GetPropertyValue<IPublishedContent>
            ("uploadThumbnail");

        if (itemYear.Equals(@year) && (bank.Equals("Bank")))
        {
            <tr>
                <th scope="row">
                    <img src="~/images/content/icon-pdf.png"
                         class="icon-pdf">
                </th>
                <td>
                    <a href="@document" target="_blank">@item.Name</a>
                </td>
            </tr>
        }
    }
}

@helper RenderRTS(string year, string bank)
{
var selection =
Umbraco.TypedContent(1566)
.Children("reportToSocietyItem")
.Where(x => x.IsVisible())
.OrderBy("UpdateDate desc");

foreach (var item in selection)
{
    // If field value @Umbraco.Field("year") is equal to year,
    // display items that have that value
    var itemYear = item.GetPropertyValue<string>("itemYear");
    var itemBank = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("bank"));
    var document = item.GetPropertyValue("pdfDocument");
    var thumbnail = item.GetPropertyValue<IPublishedContent>
        ("uploadThumbnail");

    if (itemYear.Equals(@year) && (bank.Equals(@itemBank)))
    {
            <tr>
                <th scope="row">
                    <img src="~/images/content/icon-pdf.png"
                         class="icon-pdf">
                </th>
                <td>
                    <a href="@document" target="_blank">@item.Name</a>
                </td>
            </tr>
        }
    }
}