﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="panel-accordion">
    <div id="accordion" class="accordion">
        <div class="card mb-0 wow fadeIn">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    Credit counterparty
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                         aria-labelledby="tab1">
                        <table class="table table-dark table-sm table-borderless">
                            <tbody>
                                @RenderItemLoop("2011", "JSE")
                                @RenderItemLoop("2008", "JSE")
                                @RenderItemLoop("2007", "JSE")
                                @RenderItemLoop("2004", "JSE")
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseTwo">
                <a class="card-title">
                    Credit ratings
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <div class="row">
                    <div class="col-md-12 padding-left">
                        <div>
                            <div class="umb-grid">
                                <div class="grid-section">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">
                                                    <div class="">


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Credit ratings</h4>
                        <p>
                            The ratings of South African-based banks are constrained by the country’s sovereign rating. This is due to the direct and indirect impact of sovereign distress on domestic banks’ operations. The following tables summarise the credit ratings of the South African sovereign, FirstRand Bank Limited and FirstRand Limited as at 11 March 2019.
                        </p>
                        <p style="font-style: italic; font-weight:bold">
                            South African Sovereign ratings as at 5 March 2018
                        </p>

                        <!-- Table ONE Start-->
                        <table width="100%" border="3"
                               style="
                                border-collapse: collapse;
                                border-color: black;
                                background-color: white;"
                               class="table-credit-ratings">
                            <thead>
                                <tr>
                                    <td colspan="4"
                                        style="
                                            text-align: center;
                                            border: 3px solid black;
                                            background-color: black;
                                            color: white;">
                                        South Africa sovereign – long-term ratings
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border-bottom: 2px solid black"></td>
                                    <td style="text-align: center; border-bottom: 2px solid black">
                                        Outlook
                                    </td>
                                    <td style="border-bottom: 2px solid black">
                                        Foreign Currency
                                    </td>
                                    <td style="border-bottom: 2px solid black">
                                        Local Currency
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>BB</td>
                                    <td>BB+</td>
                                </tr>
                                <tr>
                                    <td>Moody's</td>
                                    <td>Rating under review</td>
                                    <td>Baa3</td>
                                    <td>Baa3</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Sources: S&amp;P Global Ratings and Moody's Investors Service.</p>
                        <!-- Table ONE Ends-->

                        <p>
                            Following the South African sovereign rating actions described above,
                            similar ratings
                            actions were taken on the South African banks. This is because the
                            banks' issuer
                            credit ratings are constrained by the sovereign rating given the direct
                            and indirect
                            impact that sovereign distress would have on domestic banks' operations.
                        </p>

                        <p>
                            The tables below summarise the credit ratings for both FirstRand Bank
                            Limited and
                            FirstRand Limited.
                        </p>

                        <p style="font-style: italic; font-weight:bold">
                            FirstRand Bank Limited counterparty credit ratings as at 5 March 2018
                        </p>

                        <!-- Table Two Start-->
                        <table width="100%" border="3"
                               style="size=100%; border-collapse: collapse; border-color: black;"
                               class="table-credit-ratings">
                            <thead>
                                <tr>
                                    <td colspan="7"
                                        style="text-align: center; background-color: black; color: white; ; border-bottom: 3px solid black">
                                        FirstRand Bank Limited
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border-bottom: 2px solid black"></td>
                                    <td rowspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Outlook
                                    </td>
                                    <td colspan="2"
                                        style="border: 2px solid black">
                                        Counterparty
                                    </td>
                                    <td colspan="2"
                                        style="border: 2px solid black">
                                        National Scale
                                    </td>
                                    <td rowspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Standalone credit rating
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid black">
                                        Long
                                        Term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        Term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Long
                                        Term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        Term
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>BB</td>
                                    <td>B</td>
                                    <td>zaAA-</td>
                                    <td>zaA-1 +</td>
                                    <td>bbb-</td>
                                </tr>
                                <tr>
                                    <td>Moody's</td>
                                    <td>Rating under review</td>
                                    <td>Baa3</td>
                                    <td>P-3</td>
                                    <td>Aaa.za</td>
                                    <td>P-1.za</td>
                                    <td>Baa3</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Table Two Ends-->
                        <!-- Table for text under table TWO Starts-->
                        <table width="100%" style="size=100%" class="table-credit-ratings">
                            <thead>
                                <tr>
                                    <td valign="top" style="text-align: start;">*</td>
                                    <td>
                                        Refers to a rating agency's measure of a bank's intrinsic
                                        creditworthiness before
                                        considering external factors, e.g. affiliate or government
                                        support. S&amp;P uses the
                                        standalone credit profile and Moody's the baseline credit
                                        assessment.
                                        Sources: S&amp;P Global Ratings and Moody's Investors Service.
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- Table for text under table Two Ends -->
                        <br>

                        <p>
                            FirstRand Limited’s ratings reflect its status as the non-operating holding company of the FirstRand group and the entity’s consequent structural subordination and reliance on dividends from operating companies to meet its obligations, which exposes it to potential regulatory impositions. It is standard practice for a holding company to be rated below the operating company (in this case, FirstRand Bank Limited). The group issues debt out of the bank, which is the credit counterparty.
                        </p>

                        <p style="font-style: italic; font-weight:bold">
                            FirstRand Limited
                            counterparty credit ratings as at 5 March 2018
                        </p>

                        <!-- Table 3 Starts -->
                        <table border="3" width="100%"
                               style="size=100%; border-collapse: collapse; border-color: black"
                               class="table-credit-ratings">
                            <thead>
                                <tr>
                                    <td colspan="6"
                                        style="text-align: center; background-color: black;  color: white; border: 3px solid black">
                                        FirstRand Limited
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border: 2px solid black"></td>
                                    <td rowspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Outlook
                                    </td>
                                    <td colspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Counterparty
                                    </td>
                                    <td colspan="2"
                                        style="text-align: center; border: 2px solid black ">
                                        National Scale
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>B+</td>
                                    <td>B</td>
                                    <td>zaBBB+</td>
                                    <td>zaA-2</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Table 3 Ends -->

                        <p>Source: S&amp;P Global Ratings</p>

                        <p>
                            FirstRand Limited's ratings reflect its status as the non-operating
                            holding company of
                            the FirstRand group and the entity's consequent structural subordination
                            and
                            reliance on dividends from operating companies to meet its obligations,
                            which
                            exposes it to potential regulatory impositions. It is standard practice
                            for a holding
                            company to be rated below the operating company (in this case, FirstRand
                            Bank). It
                            is important to note that the group issues debt out of the bank, the
                            credit
                            counterparty. No debt is issued from FirstRand.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseThree">
                <a class="card-title">
                    Prospectuses
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">

                <div class="content p-4">
                    <div>
                        <p class="strong">
                            Debt programmes listed on Johannesburg Stock Exchange (JSE)
                        </p>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" 
                                 aria-labelledby="tab1">
                                @RenderItemLoop("2011", "JSE")
                                @RenderItemLoop("2008", "JSE")
                                @RenderItemLoop("2007", "JSE")
                                @RenderItemLoop("2004", "JSE")
                            </div>
                        </div>
                    </div>
                    <div>
                        <br>
                        <p class="strong">
                            Debt programs listed on London Stock Exchange (LSE)
                        </p>
                        <div class="tab-content" id="myTabContent_">
                            <div class="tab-pane fade show active"
                                 aria-labelledby="tab1">
                                @RenderItemLoop("2014", "LSE")
                                @RenderItemLoop("2013", "LSE")
                                @RenderItemLoop("2012", "LSE")
                                @RenderItemLoop("2011", "LSE")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseFive">
                <a class="card-title">
                    Securitisations
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor, sunt
                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et. samus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>

@helper RenderItemLoop(string year, string xchange)
{

    var selection =
            Umbraco.TypedContent(1598)
            .Children("prospectusesItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        var stockXchange = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("stockExchange"));
        var document = item.GetPropertyValue("pdfDocument");

        if (itemYear.Equals(@year) && (stockXchange.Equals(@xchange)))
        {
            <table class="table table-dark table-sm table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">
                            <img src="~/images/content/icon-pdf.png"
                                 class="icon-pdf">
                        </th>
                        <td>
                            <a href="@document" target="_blank">@item.Name</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                }
            }
        }
