﻿<!-- jQuery ^v3.2.1 -->
<script src="~/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/js/bootstrap.bundle.min.js"></script>
<!-- WowJS JavaScript -->
<script src="~/js/wow.min.js"></script>
<!-- Slick theme-->
<script src="~/js/slick.min.js"></script>

<!--baguetteBox gallery slider-->
<script src="~/modules/lightbox/ekko-lightbox.min.js"></script>

<script async src="~/modules/amp-player/v0.js"></script>
<script async custom-element="amp-o2-player" src="~/modules/amp-player/amp-02-player-0.1.js"></script>
<link rel="canonical" href="https://ampbyexample.com/components/amp-o2-player/">

<script>
    new WOW().init();
    // Active class to menu items
    $(function () {
        var current = location.pathname;
        $('ul#sidenav li a').each(function () {
            var $this = $(this);
            // if the current path is like this link, make it active
            if ($this.prop('href').indexOf(current) !== -1) {
                $this.addClass('active');
            }
        });

        // Remove active class from sublist under investor information
        var x = $(".sidebar-sticky ul li ul").find("a");
        if (x.hasClass("active") === true) {
            x.removeClass("active");
        }
    });
</script>
<script src="~/js/script.js"></script>
</body>
</html>
