﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    ViewBag.Title = "Head";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Umbraco.Field("pageName") - FirstRand</title>

    <!-- Library CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/modules/animate.css/animate.css">
    <link rel="stylesheet" href="~/modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/modules/slick/slick.css" />
    <link rel="stylesheet" href="~/modules/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/modules/lightbox/ekko-lightbox.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="icon" href="~/images/logos/favicon.png">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="">
    <div id="preloader"></div>
